In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

2.	A placement manager of a business school came across a newspaper report that average entry salary of an MBA graduate is Rs. 300,000/year with a standard deviation of Rs. 40,000. The manager believes that students from his institute earn more. A random sample of 36 students indicated an average salary of 310,000. Validate the managerâ€™s claim.

In [2]:
SIG= 40000
mean =300000
samplesize_n=36
SAMPleMEAN =310000
aplha =0.05

step1:
      H0:mu <=30000 
      H1:mu > 30000

In [3]:
step2:
    alpha =5%
step3: it is right tailes and z test
    
    zstat = xbar(smaplemean) - mu(pop mean)/(sigma/sqrt(n))
    
step4:

SyntaxError: invalid syntax (<ipython-input-3-0faa98126c8b>, line 1)

In [ ]:
zstat = (SAMPleMEAN - mean) /(SIG/np.sqrt(samplesize_n))
zstat

In [ ]:
z_critical = stats.norm.isf(0.05)

### Step 5: since test statistics < critical values accept null hypothesis.and the claim is false

P-value approach

In [16]:
p_value = stats.norm.sf(1.5)
p_value

0.06680720126885807

p_value is > aplha so, accept null hypothesis and the claim is false

7.	Airline ground staff are expected to inflate the tires to exact pressure for safe operation of the aircraft. The stipulated pressure is 16 psi. A sample of 8 tires were checked for their pressure level yielded the following measurements.
16.02, 16.22, 15.82, 15.92, 16.22, 16.32, 16.12, 15.92, 16.07
Are the ground staff filling tires properly?

In [19]:
sample = np.array([16.02, 16.22, 15.82, 15.92, 16.22, 16.32, 16.12, 15.92, 16.07])
popmue = 16
n =9
# assume tyre pressure follows normal distribution
samplesigma = np.std(sample,ddof =1)
samplemean = np.mean(sample)

In [ ]:
step1:
    H0=16
    H1 not equal to 16
step2: alpha =5%
step3: it is two tailes(since equal and not equal to) and t test(since sig pop unknown)
    
    tstat = xbar(smaplemean) - mu(pop mean)/(samplesigma/sqrt(n))
    
step4:

In [20]:
tstat = (samplemean - popmue) /(samplesigma/np.sqrt(n))
tstat

1.2663476472266135

In [21]:
tcritical = stats.t.isf(0.025,n-1)
tcritical

2.306004135033371

In [ ]:
tstat < tcritical ,so we accept H0.

pvallue approach

In [23]:
pvalue = stats.t.sf(1.26,n-1)*2
pvalue

0.243180949290109

In [26]:
stats.ttest_1samp(sample,popmue)

Ttest_1sampResult(statistic=1.2663476472266137, pvalue=0.2410152652458872)

In [ ]:
#conclusion the ground staff filling the tires properly.

Two sample independent

In [27]:
df = pd.read_csv(r'C:\Users\SRK\Desktop\statistics\Day 2\cs1.csv')

In [28]:
df.head()

,id,age,gender,region,income,married,children,car,save_act,current_act,mortgage,pl
0,ID12101,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
1,ID12102,40,MALE,TOWN,30085.1,YES,3,YES,NO,YES,YES,NO
2,ID12103,51,FEMALE,INNER_CITY,16575.4,YES,0,YES,YES,YES,NO,NO
3,ID12104,23,FEMALE,TOWN,20375.4,YES,3,NO,NO,YES,NO,NO
4,ID12105,57,FEMALE,RURAL,50576.3,YES,0,NO,YES,NO,NO,NO

In [29]:
df.shape

(330, 12)

Assumption for two /multiple sample parametric test
1. test of normality
2. test of equal variance(leven test) 
3. test of randomness.(not applicable )--ttest_1sample;(if we know pop parameter( mean))

In [ ]:
Does income varies from male to female.
step1:
   H0: mupop male = mupop female
   H1: mu male != mu female

In [ ]:
step2:
    alpha = 0.05
    
we use ttest as we dont know pop sigma---

## TEST OF NORMALITY:

In [30]:

stats.shapiro(df.income)# pvalue colse to zero.

(0.9428609013557434, 5.541547221099563e-10)

# TEST OF VARIANCE EQUALITY

In [ ]:
H0: VAR OF MALE INCOME = VAR OF FEMALE INCOME
    H1: VAR OF MALE INCOME != VAR OF FEMALE INCOME

In [39]:
MI = df[df.gender=='MALE'].income
FI = df[df.gender!='MALE'].income

In [41]:
MI.var(),FI.var()

(169699046.4540526, 172778594.09255722)

In [42]:
stats.levene(MI,FI)

LeveneResult(statistic=0.004552939368501236, pvalue=0.9462442998451014)

In [ ]:
pvalue >alpha , the male income is same as female incomem variance.

In [43]:
stats.ttest_ind(MI,FI)# parametric -two value

Ttest_indResult(statistic=-0.2449534813001663, pvalue=0.8066456277315542)

In [44]:
stats.mannwhitneyu(MI,FI) # non parametric

MannwhitneyuResult(statistic=13394.0, pvalue=0.40623189504528334)

In [45]:
MA = df[df.gender=='MALE'].age
FA = df[df.gender!='MALE'].age

In [46]:
stats.shapiro(df.age)# pvalue colse to zero. pvalue < alpha , so go with non parametric

(0.9519780278205872, 6.6147682886708026e-09)

In [48]:
stats.levene(MA,FA)

LeveneResult(statistic=0.5160302890784385, pvalue=0.4730513541981154)

In [47]:
stats.mannwhitneyu(MA,FA) # non parametric

MannwhitneyuResult(statistic=12064.5, pvalue=0.038145524228880394)

In [54]:
xm = MI.mean()
xf = FI.mean()
sm = MI.std()
sf = FI.std()
n1 = len(MI)
n2 = len(FI)
se =np.sqrt((sm**2/n1)+(sf**2/n2))
t_stat = (xm-xf)/se

p_value = stats.t.cdf(t_stat,n1+n2-2)*2
t_stat,p_value

(-0.24488654103049437, 0.8066974161001975)

In [55]:
cur =np.array([60,85,45,90,80,60,85,123,90,120,75,50,90,75,62,83,50,70,50,80 ])
new =np.array([67,88,40,110,100,80,90,140,90,125,95,60,95,80,60,95,48,80,45,70])

In [57]:
n = len(cur)
diff = new-cur
dbar =np.mean(diff)
ds = np.std(diff,ddof =1)
tstat = (dbar-0)/(ds/np.sqrt(n))
tstat

3.251410224435738

In [59]:
tcrit = stats.t.isf(0.05,n-1)
pvalue = stats.t.sf(tstat,n-1)
tcrit,pvalue

(1.7291328115213678, 0.002100192788802373)

In [60]:
stats.ttest_rel(new,cur)

Ttest_relResult(statistic=3.251410224435738, pvalue=0.004200385577604746)

In [63]:
stats.ttest_1samp(diff,0)

Ttest_1sampResult(statistic=3.251410224435738, pvalue=0.004200385577604746)