In [2]:
def f1():  # creating  the function
    print('srk')

In [3]:
f1() # call the function

srk

In [4]:
def f2(nm):
    print(nm,'gd mrg')

In [5]:
f2('annn')

annn gd mrg

In [6]:
def f3(f,l):
    print(f,l,'Gd mrg')

In [7]:
f3('srk','ravipati')

srk ravipati Gd mrg

In [10]:
def add1(a,b):
    sum1 =a+b
    return sum1

In [11]:
a = int(input('enter the number'))
b = int(input('enter the number'))

add1(a,b)

enter the number10
enter the number20

30

In [12]:
def empty_return(x,y):
    c = x+y
    print('value of c :',c)
    d =x-y
    print('value of d :',d)
    return c,d

res = empty_return(4,5)
print(res)

value of c : 9
value of d : -1
(9, -1)

In [13]:
def power(a):
    c = a**2
    print(c)
    d = a**3
    print(d)
    return c,d
res = power(10)
print(res)

100
1000
(100, 1000)

In [14]:
def f3(f,l):
    print(f,l,'Gd mrg')
f3(f='srk',l='ravipati')

srk ravipati Gd mrg

In [15]:
def f3(f,l):
    print(f,l,'Gd mrg')
f3(l='ravipati',f='srk')

srk ravipati Gd mrg

In [18]:
def details(nm,age,city ='chennai'):
    print(nm,age,city)

In [20]:
details('srk',18,'che')

srk 18 che

In [21]:
details(18,'srk')

18 srk chennai

In [22]:
def detail(nm,age=24,city = 'chennai'):
    print(nm,age,city)

In [23]:
detail(nm = 'ethan')

ethan 24 chennai

In [24]:
def p(*a):
    print(a)
    for i in a:
        print(i)
p(10,20,30)

(10, 20, 30)
10
20
30

In [25]:
a = (10,20,30)
p(a)

((10, 20, 30),)
(10, 20, 30)

In [39]:
ls =[]
ls1 =[]
def palandrom(*a):
    for i in a:
        if i == i[::-1]:
            ls.append(i)
        #print(i,'is p')
        else:
            ls1.append(i)
    #print(ls)
    #print(ls1)
    return ls,ls1
palandrom("madam","wonderful",'good','mom')

(['madam', 'mom'], ['wonderful', 'good'])

In [41]:
def fun1(**a):
    for k,v in a.items():
        print(k,':',v)
fun1(first ='great',mid = 'learning',end = 'awesome')

first : great
mid : learning
end : awesome

In [43]:
def fahrenheit_c(a):
    
    fahrenheit = (a*9/5)+32
    print(fahrenheit)
    
fahrenheit_c(22.6)

72.68

In [50]:
def fahrenheit_c(*a):
    lst1= []
    for i in a:
        for j in i:
            
            #print(j)
            #print(a)
            fahrenheit = (j*9/5)+32
            lst1.append(fahrenheit)
    return lst1
lst = [22.6,25.8,27.3,29.8]
fahrenheit_c(lst)

[72.68, 78.44, 81.14, 85.64]

In [57]:
def fahrenheit_c(j):
    
    lst1= []
    
    fahrenheit = (j*9/5)+32
    #lst1.append(fahrenheit)
    return fahrenheit
lst = [22.6,25.8,27.3,29.8]
for i in lst:
    print(i, ':',fahrenheit_c(i))
#fahrenheit_c(lst)

22.6 : 72.68
25.8 : 78.44
27.3 : 81.14
29.8 : 85.64

In [60]:
def factorial(n):
    mul =1
    for i in range(1,n+1):
        #1*2*3*4
        mul *= i # mul = mul*i
    return mul
factorial(5)

120

In [63]:
def fact(n):
    if(n<0):
        print('enter the value greater than zero')
    elif (n==0) or (n==1):
        return 1
    else:
        return n*fact(n-1)

In [64]:
n = int(input('enter the factorial value: '))
fact(n)

enter the factorial value: 5

120

In [65]:
ch = input('enter a character')
if ((ch>='a' and ch<='z') or (ch>='A' and ch<='Z')):
    print(ch, 'is an alphabet')
else:
    print(ch,'is not a alphabet')

enter a charactersiva
siva is an alphabet

In [70]:
def sep(a):
    lst =[]
    lst1 =[]
    for ch in a:
        if ((ch>='a' and ch<='z') or (ch>='A' and ch<='Z')):
            lst.append(ch)
        else:
            lst1.append(int(ch))
    return lst,lst1
str1 = input('enter a character')
    
sep(str1)

enter a characterwonderful123456

(['w', 'o', 'n', 'd', 'e', 'r', 'f', 'u', 'l'], [1, 2, 3, 4, 5, 6])

In [76]:
def check1(a):
    vowels= 'aeiou'
    
    for i in vowels:
        count =0
        for j in a:
            if j==i:
                count+=1
        print('number of times ',i, 'repeated',count)

stg = 'Great Learning!!! is a great place to work, and i enjoy learning python'
stg = stg.lower()
print(stg)
check1(stg)

great learning!!! is a great place to work, and i enjoy learning python
number of times  a repeated 7
number of times  e repeated 6
number of times  i repeated 4
number of times  o repeated 4
number of times  u repeated 0

In [77]:
strg = 'Great Learning!!! is a great place to work, and i enjoy learning python'
vowels= 'aeiou'

strg = strg.casefold()#Docstring: Return a version of the string suitable for caseless comparisons.

print(strg)

count ={}.fromkeys(vowels,0)
print(count)

for i in strg:
    if i in count:
        count[i]+=1
print(count)

great learning!!! is a great place to work, and i enjoy learning python
{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}
{'a': 7, 'e': 6, 'i': 4, 'o': 4, 'u': 0}

In [78]:
def f1():
    a =1
    print(a,'within f1()')
def f2():
    b=10
    print(b,'within f2()')

In [79]:
f1()
f2()

1 within f1()
10 within f2()

In [80]:

def f1():
    print(a)

In [81]:
a =100# global variable
f1()

100

In [83]:
def f1():
    print(a,'within f1')
def f2():
    print(a,'within f2')
a =100
f1()
f2()
print(a, 'outside of function call')

100 within f1
100 within f2
100 outside of function call

In [84]:
def f1():
    a =500
    print(a,'within f1')
def f2():
    print(a,'within f2')
a =100
f1()
f2()
print(a, 'outside of function call')

500 within f1
100 within f2
100 outside of function call

In [86]:
def f1():
    global a
    a =500
    print(a,'within f1')
def f2():
    print(a,'within f2')
a =100
f2()
f1()

print(a, 'outside of function call')

100 within f2
500 within f1
500 outside of function call

In [87]:
x = lambda a : a+10
x(2)

12

In [90]:
funn = lambda x,y:x if x>y else y

print(funn(3,4))

4

In [93]:
fun1 = lambda a,b:a+b
fun1(3,4)

7

In [94]:
n = int(input('enter the number'))

fun2 = lambda n: n**3
fun2(n)

enter the number6

216

In [97]:
n = int(input('enter the number'))
fun3 = lambda x: 'even' if x%2==0 else 'odd'
fun3(n)

enter the number5

'odd'

In [98]:
n = int(input('enter the number'))
fun3 = lambda x: x if (x%5==0 and x%7==0) else 'not divisible'
fun3(n)

enter the number35

35

In [104]:
n =[1,2,3,4,5]
print(list(map(lambda x:x+10,n)))

[11, 12, 13, 14, 15]

In [105]:
l =[1,2,3,4,5,6]
print(tuple(map(lambda x : x**2,l )))

(1, 4, 9, 16, 25, 36)

In [106]:
n =[2,3,4,5,7,11,70]
print(tuple(filter(lambda x : x>10,n)))

(11, 70)

In [107]:
l =[1,2,3,4,5,6]
print(tuple(map(lambda x : x>2,l ))) # it check the condition and apply  it for the iterable data 
3## same no. of data avialble after  map

(False, False, True, True, True, True)

In [109]:
n =[2,5,11,70]
tuple(filter(lambda x:x%2==0,n))  # it will filter the data # condition is mandatory

(2, 70)

In [112]:
dict_a =[ {'name':'python','points':10},{'name':'java','points':8}]
print(list(map(lambda x:x['name'],dict_a)))

['python', 'java']

In [113]:
print(list(map(lambda x:x['points'],dict_a)))

[10, 8]

In [114]:
print(list(map(lambda x:x['points']**2,dict_a)))

[100, 64]

In [115]:
print(list(filter(lambda x:x['points']*2>19,dict_a)))

[{'name': 'python', 'points': 10}]

In [117]:
from functools import reduce

n =[1,2,3,4,5]
reduce((lambda x,y : x+y),n)

15

In [118]:
from itertools import accumulate
lis = [1,3,5,7,8,9]
print(list(accumulate(lis,lambda x,y:x+y)))

[1, 4, 9, 16, 24, 33]