### Tuple  ()

In [1]:
t = (1,2,3)
print(t)

(1, 2, 3)

In [2]:
type(t)

tuple

In [3]:
fruit =('apple','banana','orange')
print(fruit)
print(type(fruit))

('apple', 'banana', 'orange')
<class 'tuple'>

In [4]:
std = (100,'srk',26,5,True)
std

(100, 'srk', 26, 5, True)

In [5]:
type(std)

tuple

In [6]:
t

(1, 2, 3)

In [7]:
t*2 # repeat that many times than multiplication

(1, 2, 3, 1, 2, 3)

In [8]:
t1 = (1, 2, 3)
t2 = (10,20,30)
t_out = t1+t2 
print(t_out)

(1, 2, 3, 10, 20, 30)

In [9]:
t1 = (1, 2, 3)
t2 = (10,20,30)
t_out = t1-t2
print(t_out)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

#### membership

In [10]:
t =(1,2,3,4,5)
print(2 in t)

True

In [11]:
len(std)

5

In [12]:
for i in t:
    print(i)

1
2
3
4
5

In [13]:
for i in t:
    print(t)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [14]:
max(t)

5

In [15]:
min(t)

1

In [16]:
sum(t)

15

In [17]:
len(t)

5

In [18]:
num =((1,2,3),(4,5,6),(3,2,1))
max(num)

(4, 5, 6)

In [19]:
nm = "great learning"
tuple(nm)

('g', 'r', 'e', 'a', 't', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g')

In [20]:
age =(40,20,30,10)
sorted(age)

[10, 20, 30, 40]

In [21]:
sorted(age,reverse=True)

[40, 30, 20, 10]

In [22]:
fruit

('apple', 'banana', 'orange')

In [23]:
fruits = ('apple','orange', 'banana')
a =sorted(fruits)

In [27]:
fruits = ('apple','orange','apple','cherry','banana')
fruits

('apple', 'orange', 'apple', 'cherry', 'banana')

In [25]:
fruits[2]

'apple'

In [26]:
fruits[2::]

('apple', 'cherry', 'banana')

In [27]:
del fruits[1]

TypeError: 'tuple' object doesn't support item deletion

### Lists [ ]

In [28]:
# this is same as in tuple except it is mutable.

In [29]:
list1 = [1,2,3,4,5,6]
print(list1)
print(type(list1))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [30]:
list1 = [1,2,3,4,5,6]
list2 =['srk','ram']
list1+list2

[1, 2, 3, 4, 5, 6, 'srk', 'ram']

In [31]:
t

(1, 2, 3, 4, 5)

In [32]:
list(t)# tuple to list

[1, 2, 3, 4, 5]

In [33]:
list(nm)  # string to list

['g', 'r', 'e', 'a', 't', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [34]:
L1 = ['penguin','cat','hippo','dog','rabbit']
L1

['penguin', 'cat', 'hippo', 'dog', 'rabbit']

In [35]:
L1.append('rat') # if we wnat to add at the last go with append

In [36]:
L1

['penguin', 'cat', 'hippo', 'dog', 'rabbit', 'rat']

In [37]:
L1.clear() # list alone will be there but data will be deleted.
L1

[]

In [38]:
a =[]# empty list creation

In [39]:
b = () # cratioof 
b

()

In [40]:
l1 = ['penguin', 'cat', 'hippo', 'dog', 'rabbit', 'rat']

In [41]:
l2 =l1  # it will impact l3 if l1 is changed

In [42]:
l2

['penguin', 'cat', 'hippo', 'dog', 'rabbit', 'rat']

In [43]:
l3= l1.copy() # it will not impact l3 if l1 is changed

In [44]:
l3

['penguin', 'cat', 'hippo', 'dog', 'rabbit', 'rat']

In [45]:
L1 = [1,2,3]
L2 =L1
L3 =L1.copy()
L1.append(5)
print(L1)
print(L2) # it will impact l2 if l1 is changed.
print(L3)#  it will not impact l3 if l1 is changed.

[1, 2, 3, 5]
[1, 2, 3, 5]
[1, 2, 3]

In [4]:
list = ['a','e','i','o','u','i']
list.count('a')

1

In [6]:
list.index('i')

2

In [48]:
l1+l2

['penguin',
 'cat',
 'hippo',
 'dog',
 'rabbit',
 'rat',
 'penguin',
 'cat',
 'hippo',
 'dog',
 'rabbit',
 'rat']

In [7]:
ll1 =[1,2,3]
ll2 =[4,5,6]

In [12]:
LL3 = ll1.extend(ll2)# it appends a seq as a single ele
print(LL3)

None

In [13]:
ll1

[1, 2, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [52]:
l2

['penguin', 'cat', 'hippo', 'dog', 'rabbit', 'rat']

In [14]:
list1 = ['a','e','i','o','u']
list1.insert(3,'o')

In [15]:
list1

['a', 'e', 'i', 'o', 'o', 'u']

In [55]:
del list1[3]+

In [56]:
list1

['a', 'e', 'i', 'u']

In [57]:
list1[4] = 'five'

IndexError: list assignment index out of range

In [58]:
list1

['a', 'e', 'i', 'u']

In [60]:
list1.pop(3)

'u'

In [61]:
list1.remove('e')

In [62]:
list1

['a', 'i']

In [16]:
fruit = list(fruit)
fruit.reverse()

NameError: name 'fruit' is not defined

In [ ]:
l2

In [ ]:
l2.sort()

In [ ]:
l2

In [17]:
s =['a','b','c','d','e','f','g','h','i']

In [18]:
s[2:7]

['c', 'd', 'e', 'f', 'g']

In [19]:
s[2:7:2]

['c', 'e', 'g']

In [20]:
s[2:7:3]

['c', 'f']

In [21]:
a = ['a','b','c','d','e','f','g','h','i']

In [22]:
x = slice(2,7,2)

In [23]:
x

slice(2, 7, 2)

In [24]:
a[x]

['c', 'e', 'g']

In [28]:
fruits

('apple', 'orange', 'apple', 'cherry', 'banana')

In [29]:
aw = '\n'.join(fruits)
print(aw)

apple
orange
apple
cherry
banana

In [30]:
aw = '\t'.join(fruits)
print(aw)

apple	orange	apple	cherry	banana

### set {}

In [31]:
s = {1,2,3,1,4,6,7}

In [32]:
s

{1, 2, 3, 4, 6, 7}

In [33]:
t

NameError: name 't' is not defined

In [34]:
set(t)

NameError: name 't' is not defined

In [35]:
A = {0,2,4,6,8,7,8,5,7,5,8,7}
B = {1,2,3,4,5,7,5,8}
print("union",A|B)

union {0, 1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
print("intersection",A&B)

intersection {2, 4, 5, 7, 8}

In [37]:
print("differnce",A-B)

differnce {0, 6}

In [38]:
print("sym diff",A^B) #opposite to intersection

sym diff {0, 1, 3, 6}

In [73]:
ss = {'apple','banana','apple','grapes','grapes','cherry'}

In [74]:
ss.add('mango')

In [75]:
ss

{'apple', 'banana', 'cherry', 'grapes', 'mango'}

In [76]:
ss.remove('mango')

### Dictionary

In [77]:
d = {'id':100,'nm':'srk'}

In [78]:
type(d)

dict

In [79]:
len(d)  # no of items

2

In [80]:
d['id']

100

In [81]:
d1 = d.copy()

In [82]:
d1

{'id': 100, 'nm': 'srk'}

In [84]:
l1

['penguin', 'cat', 'hippo', 'dog', 'rabbit', 'rat']

In [85]:
tuple(l1)

('penguin', 'cat', 'hippo', 'dog', 'rabbit', 'rat')

In [86]:
dict(l1)

ValueError: dictionary update sequence element #0 has length 7; 2 is required

In [87]:
seq =('name','age','sex')

In [88]:
dict= dict.fromkeys(seq)

In [89]:
dict

{'name': None, 'age': None, 'sex': None}

In [93]:
dict= dict.fromkeys(seq,10)

In [94]:
dict

{'name': 10, 'age': 10, 'sex': 10}

In [95]:
dict.items()

dict_items([('name', 10), ('age', 10), ('sex', 10)])

In [96]:
dict.keys()

dict_keys(['name', 'age', 'sex'])

In [97]:
dict.values()

dict_values([10, 10, 10])

In [98]:
person ={'name':'phill'}

In [99]:
salary = person.setdefault('salary',5000)

In [100]:
person

{'name': 'phill', 'salary': 5000}

In [105]:
town = person.setdefault('town','chennai')

In [106]:
person

{'name': 'phill', 'salary': 5000, 'city': 'chennai', 'town': 'chennai'}

In [114]:
items1 ={'prd':100,'nm':'abc','amt':1000}

In [115]:
items1

{'prd': 100, 'nm': 'abc', 'amt': 1000}

In [116]:
items1.keys()

dict_keys(['prd', 'nm', 'amt'])

In [117]:
items1.values()

dict_values([100, 'abc', 1000])

In [118]:
items1['amt'] = 10000

In [119]:
items1

{'prd': 100, 'nm': 'abc', 'amt': 10000}

In [120]:
items1['nm'] = 'srk'

In [121]:
items1

{'prd': 100, 'nm': 'srk', 'amt': 10000}

In [124]:
d1 = {'100':'GL','101':'great',"100":"greatlearning"}

In [125]:
d1

{'100': 'greatlearning', '101': 'great'}

In [126]:
Dict1 = {1: "one",2: "five",3:"three"}
Dict2 = {1:"one",2: "Two"}
print(Dict1)
print(Dict2)

{1: 'one', 2: 'five', 3: 'three'}
{1: 'one', 2: 'Two'}

In [127]:
Dict1.update(Dict2)  # update of dictionary using other dictionary

In [128]:
Dict1

{1: 'one', 2: 'Two', 3: 'three'}

In [129]:
Dict2

{1: 'one', 2: 'Two'}

In [130]:
Dict1 = {1: "one",2: "five",3:"three"}
Dict2 = {1:"one",2: "Two",5:"five"}
print(Dict1)
print(Dict2)

{1: 'one', 2: 'five', 3: 'three'}
{1: 'one', 2: 'Two', 5: 'five'}

In [131]:
Dict1.update(Dict2)

In [132]:
print(Dict1)
print(Dict2)

{1: 'one', 2: 'Two', 3: 'three', 5: 'five'}
{1: 'one', 2: 'Two', 5: 'five'}

In [133]:
people ={1: {'name':"srk",'age':25,"sex":"male"},2: {'name':"ram",'age':28,"sex":"female"}
        }
people

{1: {'name': 'srk', 'age': 25, 'sex': 'male'},
 2: {'name': 'ram', 'age': 28, 'sex': 'female'}}

In [134]:
people[1]

{'name': 'srk', 'age': 25, 'sex': 'male'}

In [135]:
people[1]['age']

25

In [139]:
people.get(1)

{'name': 'srk', 'age': 25, 'sex': 'male'}

In [144]:
sales = { 100: {"name":"jerry","dept":"sales","sal":50000},
         200: {"name":"ethan","dept":"IT","sal":60000},300: {"name":"sam","dept":"supplychain","sal":75000}
    
}

In [145]:
sales

{100: {'name': 'jerry', 'dept': 'sales', 'sal': 50000},
 200: {'name': 'ethan', 'dept': 'IT', 'sal': 60000},
 300: {'name': 'sam', 'dept': 'supplychain', 'sal': 75000}}

In [146]:
sales[200]

{'name': 'ethan', 'dept': 'IT', 'sal': 60000}

In [147]:
sales[200]['dept']

'IT'

In [150]:
i = 10

if i>25:
    print(i)
else:
    print(i, "is less than 25")

10 is less than 25

In [152]:
age = int(input('enter the age \t'))
if age >=18:
    print("the person is eligible for voting")
else:
    print("the person is not eligible for voting")

enter the age 	17
the person is not eligible for voting

In [154]:
n = int(input('enter the number? \t'))
if n%2==0:
    print("the number is even")
else:
    print("the number is odd")

enter the number? 	8
the number is even

In [155]:
a = int(input('enter the number a? \t'))
b = int(input('enter the number b? \t'))

if a>b:
    print('a is the greatest')
else:
    print('b is the greatest')

enter the number a? 	10
enter the number b? 	5
a is the greatest

In [158]:
unm = "GreatLearning"
pwd = "chennai"
if ((unm is "GreatLearning") & (pwd is "chennai")):
    print('user is authenticated user')
else:
    print('user is  not an authenticated user')

user is authenticated user

In [160]:
a = int(input('enter the number a? \t'))
b = int(input('enter the number b? \t'))
if a>0 :
    if b>0:
        if a>b:
            
            print('a is the greatest')
    
        else:
            print('b is the greatest')
    else:
        print('b is not greater then zero')
else:
    print('a is not greater then zero' )

enter the number a? 	10
enter the number b? 	20
b is the greatest

In [170]:
unm = "GreatLearning"
pwd = "chennai"
unm_i = input('enter the username? \t')
pwd_i = input('enter the password? \t')
if ((unm == unm_i) & (pwd == pwd_i)):
    print('user is authenticated user')
elif ((unm is unm_i) & (pwd != pwd_i)):
    print('password is  not correct')
elif ((unm != unm_i) & (pwd == pwd_i)):
    print('username is  not an authenticated username')
else:
    print('both username and password incorrect')
    #Whereas is not operator checks whether id() of two objects is same or not. 
    #If same, it returns false and if not same, it returns true

enter the username? 	ss
enter the password? 	chennai
username is  not an authenticated username

In [168]:
a =10
b=20
c =30
if (a>b)&(b>c):
    print('a is greatest')
elif (a<b)&(a>c):
    print('b is greatest')
else:
    print('c is greatest')

c is greatest