# Python List

### 1. Create your own lists otherwise use the List1 = ['a','b','c']  to operate the below Python list  Operations?

### 1. List Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [1]:
List1 = ['a','b','c']

In [12]:
list3 = List1*2
print(list3)

['a', 'b', 'c', 'a', 'b', 'c']

#### 1.B. Concatenation (+):

In [7]:
List2 = [1,2,3,4,5]
list4 = List1 + List2
print('Concatenation of List1& List2 is',list4 )

Concatenation of List1& List2 is ['a', 'b', 'c', 1, 2, 3, 4, 5]

#### 1.C. Membership:

In [4]:
'a' in List1

True

In [5]:
if('a' in List1):
    print('element is available')
else:
    print('element is not available')

element is available

#### 1.D. Length:

In [9]:
print('The length of list1:',len(List1))
print('The length of list2:',len(List2))

The length of list1: 3
The length of list2: 5

#### 1.E. Iteration:

In [11]:
for i in List1:
    print(i)

a
b
c

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
            List1 = [1, 2, 4, 5, 54]
            List2 = [23,54,789,9876,876,532,56]
            List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

In [13]:
List5 = [1, 2, 4, 5, 54]
List6 = [23,54,789,9876,876,532,56]
List7 = [1, 2,76543,289,87654,33,456789876,5432,45678]

#### 2.C. max(list):

In [14]:
max(List5)

54

#### 2.D. min():

In [15]:
min(List5)

1

#### 2.E.list:

In [17]:
t = (1,2,3,4,5)
list8 = list(t)
print(list8)

[1, 2, 3, 4, 5]

### 3. Create your own lists to operate the below  thePython List built-in methods?
##### otherwise use below list:
           List = ['white','red', 'blue', 'green','blue','yellow', 'black']

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [19]:
list9 = ['white','red', 'blue', 'green','blue','yellow', 'black']
list9.append('peach')
list9

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'peach']

#### 3.B) list.clear():

In [21]:
list9.clear()
list9

[]

#### 3.C) List.copy()

In [31]:
list9 = ['white','red', 'blue', 'green','blue','yellow', 'black']
list10 = list9.copy()
list10

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3. D) list.count(obj):

In [32]:
list10.count('red')

1

#### 3.E) list.extend(seq):

In [33]:
list11 =[1,2,3,34]
list10.extend(list11)
list10

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 1, 2, 3, 34]

#### 3.F) list.index(obj):

In [34]:
list10.index('blue')

2

#### 3.G) list.insert(index, obj):

In [35]:
list10.insert(0,list11)
list10

[[1, 2, 3, 34],
 'white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 1,
 2,
 3,
 34]

#### 3.H) list.pop(obj=list[-1]):

In [40]:
val = list10.pop(8)
print(val)
list10

2

[[1, 2, 3, 34], 'white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 3]

#### 3.I) list.remove(obj):

In [41]:
list10.remove(3)
list10

[[1, 2, 3, 34], 'white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3.j) list.reverse():

In [42]:
list10.reverse()
list10

['black', 'yellow', 'blue', 'green', 'blue', 'red', 'white', [1, 2, 3, 34]]

#### 3.K) list.sort([func]):

In [47]:
list12 =[1,2,3,6,7,4,5]
list12.sort(reverse =True)
list12

[7, 6, 5, 4, 3, 2, 1]

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
                Tuple2 = (1,4,1,3,4,5,65)

### 1. Tuple Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [50]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
Tuple2 = (1,4,1,3,4,5,65)
Tuple1 = Tuple1*2
Tuple1

('white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black')

#### 1.B. Concatenation (+):

In [52]:
t2 =Tuple1 + Tuple2
t2

('white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 1,
 4,
 1,
 3,
 4,
 5,
 65)

#### 1.C) Membership:

In [53]:
'yellow' in t2

True

#### 1.D) Length:

In [56]:
len(t2)

21

#### 1.E) Iteration:

In [57]:
for i in t2:
    print(i)

white
red
blue
green
blue
yellow
black
white
red
blue
green
blue
yellow
black
1
4
1
3
4
5
65

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [58]:
Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
max(Tuple1)

8765

#### 2.D) min():

In [59]:
min(Tuple1)

4

#### 2.E) Tuple:

In [62]:
list15 = [1,2,6,'srk','rama']

tuple(list15)

(1, 2, 6, 'srk', 'rama')

# Python Set

In [70]:
#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
Set2

{4, 5, 6, 7, 8, 9, 45, 57, 65, 88, 467, 678, 876, 887, 6789, 7654, 8765}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [65]:
Set1 |Set2

{1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 45,
 54,
 56,
 57,
 65,
 88,
 436,
 467,
 678,
 876,
 887,
 6789,
 7654,
 8765,
 9876,
 87654,
 787654}

#### 1.B. Intersection

In [66]:
Set1 &Set2

{4, 5, 6, 7, 8, 9, 876}

#### 1.C. Difference

In [67]:
Set1 -Set2

{1, 3, 54, 56, 436, 9876, 87654, 787654}

####  1.D. Symmetric difference:

In [68]:
Set1 ^ Set2

{1,
 3,
 45,
 54,
 56,
 57,
 65,
 88,
 436,
 467,
 678,
 887,
 6789,
 7654,
 8765,
 9876,
 87654,
 787654}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                           Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	len(dict)     
    B.	str(dict)     
    C.	type(variable)

#### 1.A) len(dict):

In [2]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
len(Dictionary)

3

#### 2.B) str(dict):

In [3]:
val =str(Dictionary)
val

"{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}"

#### 1.C) type(variable):

In [76]:
type(val)

str

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [78]:
Dictionary.clear()
Dictionary

{}

#### 2.B) dict.copy():

In [79]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
Dict1 = Dictionary.copy()
Dict1

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

#### 2.C) dict.fromkeys():

In [92]:

dict3 =dict.fromkeys('o','srk')
dict3
#Dict3

{'o': 'srk'}

In [93]:
list1 =[1,2,3,4]
list2 = ['srk','ram','krish','rsr']

dict3 =dict.fromkeys(list1,list2)
dict3
#Dict3

{1: ['srk', 'ram', 'krish', 'rsr'],
 2: ['srk', 'ram', 'krish', 'rsr'],
 3: ['srk', 'ram', 'krish', 'rsr'],
 4: ['srk', 'ram', 'krish', 'rsr']}

#### 2.D) dict.get(key[, value]) :

In [94]:
dict3.get(3)

['srk', 'ram', 'krish', 'rsr']

#### 2.E) dict.items()

In [95]:
dict3.items()

dict_items([(1, ['srk', 'ram', 'krish', 'rsr']), (2, ['srk', 'ram', 'krish', 'rsr']), (3, ['srk', 'ram', 'krish', 'rsr']), (4, ['srk', 'ram', 'krish', 'rsr'])])

#### 2.F) dict.keys() :

In [96]:
dict3.keys()

dict_keys([1, 2, 3, 4])

#### 2.G) dict.setdefault():

In [98]:
dict3.setdefault(2)

['srk', 'ram', 'krish', 'rsr']

#### 2.H) dict.update():

In [100]:
dict3.update(Dict1)
dict3

{1: ['srk', 'ram', 'krish', 'rsr'],
 2: ['srk', 'ram', 'krish', 'rsr'],
 3: ['srk', 'ram', 'krish', 'rsr'],
 4: ['srk', 'ram', 'krish', 'rsr'],
 'a': 'alpha',
 'o': 'omega',
 'g': 'gamma'}

 #### 2.L)  dict.values():

In [101]:
dict3.values()

dict_values([['srk', 'ram', 'krish', 'rsr'], ['srk', 'ram', 'krish', 'rsr'], ['srk', 'ram', 'krish', 'rsr'], ['srk', 'ram', 'krish', 'rsr'], 'alpha', 'omega', 'gamma'])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello"

In [102]:
v = int(input('enter number:\t'))
if v==10:
    print('Hello')

enter number:	10
Hello

#### 2. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello", else print "Good Bye"

In [103]:
v = int(input('enter number:\t'))
if v==10:
    print('Hello')
else:
    print('Good Bye')

enter number:	6
Good Bye

# While Loop

#### 1. Print Hello World 5 times

In [106]:
i =0
while i<5:
    print('helloworld')
    i+=1

helloworld
helloworld
helloworld
helloworld
helloworld

# For Loop

#### 1. Take a list [23,1,0,12,45,-1,46], loop through each element and print it

In [107]:
list1 = [23,1,0,12,45,-1,46]
for i in list1:
    print(i)

23
1
0
12
45
-1
46

#### 2. Take a list [1,2,3,4,5,6,7,8], loop through each element and print it. But, use break to come out of the loop after printing the second element

In [111]:
list2 = [1,2,3,4,5,6,7,8]
for i in list2:
    if (list2.index(i)) <2:
        
        print(i)
    else:
        break

1
2