In [4]:
import numpy       as np
import pandas      as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from   statsmodels.formula.api import ols
from   statsmodels.stats.anova import anova_lm

SECTION A: 5 MARKS

In [5]:
Mrs_Smith = [66,68,71,62,63,63,88,87,89,85,98,91,54,53,69,58,70,86,84,87,87,66,61,60,56,77,75,71,70,59,62,63]
Mrs_Jones = [71,80,81,87,64,68,60,72,71,77,39,88,63,55,64,63,71,71,48,63,77,49,67,69,56,44,48,77,63,88,67,67]

H0 : Mrs. Smith and Mrs. Jones are equally effective teachers.(mean of smith = mean of jones )
H1 : Mrs. Smith and Mrs. Jones are not equally effective teachers.(mean of smith != mean of jones )

In [6]:
n =30
significance_level = 0.05

B. State which test to be performed (1 Mark)

test to be performed is t-test since we dont know the population standard deviation

C. Perform the test (2 Mark)

In [7]:
# here we are choosing two sample independent test as the sample are independent diffrent classes and diff people.
stats.ttest_ind(Mrs_Smith,Mrs_Jones)

Ttest_indResult(statistic=1.7081743311361917, pvalue=0.09260670088904191)

In [11]:
tcritic =stats.t.isf(0.025,n-1)
tcritic

2.0452296421327034

since the value of pvalue is greater than the significant level  and tstat is less than critical ,we failed to reject null hypothesis.
So, both teachers perform equally.

SECTION B: 10 Marks

In [12]:
dfc =pd.read_excel(r'C:\Users\SRK\Desktop\statistics\exam\Churn.xlsx')
dfc.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineBackup,TechSupport,StreamingTV,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,Yes,No,No,Month-to-month,Yes,Electronic check,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,No,No,One year,No,Mailed check,56.95,No
2,3668-QPYBK,Male,0,No,No,2,Yes,Yes,No,No,Month-to-month,Yes,Mailed check,53.85,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No,Yes,No,One year,No,Bank transfer (automatic),42.30,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,No,No,Month-to-month,Yes,Electronic check,70.70,Yes

In [13]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   TechSupport       7043 non-null   object
 9   StreamingTV       7043 non-null   object
 10  Contract          7043 non-null   object
 11  PaperlessBilling  7043 non-null   object
 12  PaymentMethod     7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(12)
memory usage: 825.5+ KB

In [15]:
dfc.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineBackup        0
TechSupport         0
StreamingTV         0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
Churn               0
dtype: int64

In [16]:
dfnumeric = dfc.select_dtypes(include =['float64','int64'])
catagorical = dfc.select_dtypes(include =['object'])

In [32]:
list_of_numerical_features =[i for i in dfnumeric.columns]
list_of_catagorical_features =[i for i in catagorical.columns]

print('list_of_numerical_features  :',list_of_numerical_features)
print('list_of_catagorical_features :',list_of_catagorical_features)

list_of_numerical_features  : ['SeniorCitizen', 'tenure', 'MonthlyCharges']
list_of_catagorical_features : ['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService', 'OnlineBackup', 'TechSupport', 'StreamingTV', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']

In [18]:
catagorical.head()

,customerID,gender,Partner,Dependents,PhoneService,OnlineBackup,TechSupport,StreamingTV,Contract,PaperlessBilling,PaymentMethod,Churn
0,7590-VHVEG,Female,Yes,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,No
1,5575-GNVDE,Male,No,No,Yes,No,No,No,One year,No,Mailed check,No
2,3668-QPYBK,Male,No,No,Yes,Yes,No,No,Month-to-month,Yes,Mailed check,Yes
3,7795-CFOCW,Male,No,No,No,No,Yes,No,One year,No,Bank transfer (automatic),No
4,9237-HQITU,Female,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,Yes

In [20]:
dfc.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineBackup,TechSupport,StreamingTV,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,Yes,No,No,Month-to-month,Yes,Electronic check,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,No,No,One year,No,Mailed check,56.95,No
2,3668-QPYBK,Male,0,No,No,2,Yes,Yes,No,No,Month-to-month,Yes,Mailed check,53.85,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No,Yes,No,One year,No,Bank transfer (automatic),42.30,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,No,No,Month-to-month,Yes,Electronic check,70.70,Yes

 possible statistical hypothesis test
for give features in the dataset

In [ ]:
1. impact on churn  by gender
2. how having partner is impacking the churn
3. how the churns is varying impacted by dependants
4. how churn is yes or no with respect to PhoneService
5. contract and paymentmethod are related.
6. how churn varies with SeniorCitizen
7. how churn varies with tenure

B. State the null and alternative hypothesis for any one of the test mention in the question number one (2 marks)

1. impact on churn  by gender
here churn is catagorical and gender is catagorical .
 so , we will be using the two sample proportion test for the hypothesis testing.
𝐻0 :  p𝑀  -  p𝐹  = 0 (there is no difference between the male and female for the impact on churn.)
𝐻𝐴 :  p𝑀  -  p𝐹   ≠  0 (there is difference between the male and female for the impact on churn.)

C. Now perform any two required statistical test on the data to determine what are the significant features in the
data with respect to target variable (95% C.I)? (4 Marks)

In [54]:
pd.crosstab(dfc.gender,dfc.Churn)

Churn     No  Yes
gender
Female  2549  939
Male    2625  930

In [56]:
import statsmodels.stats.proportion as ssp
c,d =ssp.proportions_ztest([930,939],[930+2625,939+2549])
c,d

(-0.7227492672834878, 0.4698339411426554)

In [ ]:
since pvalue is greater than significant value , we fail to reject the null hypothesis.
so, there is no difference between the male and female for the impact on churn

In [ ]:
2. how having partner is impacking the churn

In [ ]:
𝐻0 :  phavingpartner  -  pnopartner  = 0 (there is no difference between the having partner and nothaving partner for the churns.)
𝐻𝐴 :  phavingpartner  -  pnopartner   ≠  0 (there is difference between the having partner and nothaving partner  for the churns.)

In [57]:
pd.crosstab(dfc.Partner,dfc.Churn)

Churn      No   Yes
Partner
No       2441  1200
Yes      2733   669

In [58]:
import statsmodels.stats.proportion as ssp
c,d =ssp.proportions_ztest([669,1200],[669+2733,1200+2441])
c,d

(-12.62594663510133, 1.519036620099678e-36)

In [ ]:
since pvalue is less than significant value , we reject the null hypothesis.
so, there is significant difference between the having partner and not having partner in the impact of churn

SECTION C: 15 Marks

In [30]:
dfa =pd.read_excel(r'C:\Users\SRK\Desktop\statistics\exam\Admission.xlsx')
dfa.head()

,SlNo,Gender,Percent_SSC,Board_SSC,Percent_HSC,Board_HSC,Stream_HSC,Percent_Degree,Course_Degree,Experience_Yrs,Entrance_Test,Percentile_ET,Percent_MBA,Specialization_MBA,Marks_Communication,Marks_Projectwork,Marks_BOCA,Placement,Salary
0,1,M,62.00,Others,88.00,Others,Commerce,52.00,Science,0,MAT,55.0,58.80,Marketing & HR,50,65,74,Placed,270000
1,2,M,76.33,ICSE,75.33,Others,Science,75.48,Computer Applications,1,MAT,86.5,66.28,Marketing & Finance,69,70,75,Placed,200000
2,3,M,72.00,Others,78.00,Others,Commerce,66.63,Engineering,0,NaN,0.0,52.91,Marketing & Finance,50,61,59,Placed,240000
3,4,M,60.00,CBSE,63.00,CBSE,Arts,58.00,Management,0,MAT,75.0,57.80,Marketing & Finance,54,66,62,Placed,250000
4,5,M,61.00,CBSE,55.00,ISC,Science,54.00,Engineering,1,MAT,66.0,59.43,Marketing & HR,52,65,67,Placed,180000

A. List out the numerical and categorical features in the dataset and mention the possible statistical hypothesis test
for give features in the dataset (2 marks)

In [33]:
dfanumeric = dfa.select_dtypes(include =['float64','int64'])
dfacatagorical = dfa.select_dtypes(include =['object'])

In [34]:
list_of_numerical_features =[i for i in dfanumeric.columns]
list_of_catagorical_features =[i for i in dfacatagorical.columns]

print('list_of_numerical_features  :',list_of_numerical_features)
print('list_of_catagorical_features :',list_of_catagorical_features)

list_of_numerical_features  : ['SlNo', 'Percent_SSC', 'Percent_HSC', 'Percent_Degree', 'Experience_Yrs', 'Percentile_ET', 'Percent_MBA', 'Marks_Communication', 'Marks_Projectwork', 'Marks_BOCA', 'Salary']
list_of_catagorical_features : ['Gender', 'Board_SSC', 'Board_HSC', 'Stream_HSC', 'Course_Degree', 'Entrance_Test', 'Specialization_MBA', 'Placement']

possible hypothsis:
    1. is gender is imapacting the salary.
    2. is gender is imapacting the salary.
    3. is Board_SSC is imapacting the salary.
    4. is Course_Degree is imapacting the salary.
    5. is stream_hsc  is impacting  the salary.
    6. is Specialization_MBA is impacting the salary
    7. is placement placed is impacting the salary

B. State the null and alternative hypothesis for any one of the test mention in the question number one (2 marks)

1. is gender is imapacting the salary.

In [ ]:
1. impact on salary by gender
here salary is continous and gender is catagorical .
 so , we will be using the two sample independent test of mean  for the hypothesis testing.
𝐻0 :  𝜇𝑀  -  𝜇𝐹  = 0 (there is no difference between the male and female for the making monthly charges.)
𝐻𝐴 :  𝜇𝑀  -  𝜇𝐹   ≠  0 (there is difference between the male and female for the making monthly charges.)

 Now perform required statistical tests on the data to determine what are the significant features in the data with
respect to target variable (95% C.I ). (5 Marks)

In [36]:
malesam =dfa[dfa.Gender == 'M']['Salary']


femalesam =dfa[dfa.Gender == 'F']['Salary']

In [37]:
t_statistic, p_value  =  stats.ttest_ind(malesam,femalesam)
print('P Value %1.3f' % p_value)

P Value 0.010

Here the pvalue is less than the significant value (0.05) , so , we are rejecting the null hypothesis.
so, the gender is important features which impacts the salary.

In [ ]:
E. Build a model and find the coefficient and intercept value? (4 Marks)

In [38]:
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt   
from sklearn import metrics

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
dfa.head()

,SlNo,Gender,Percent_SSC,Board_SSC,Percent_HSC,Board_HSC,Stream_HSC,Percent_Degree,Course_Degree,Experience_Yrs,Entrance_Test,Percentile_ET,Percent_MBA,Specialization_MBA,Marks_Communication,Marks_Projectwork,Marks_BOCA,Placement,Salary
0,1,M,62.00,Others,88.00,Others,Commerce,52.00,Science,0,MAT,55.0,58.80,Marketing & HR,50,65,74,Placed,270000
1,2,M,76.33,ICSE,75.33,Others,Science,75.48,Computer Applications,1,MAT,86.5,66.28,Marketing & Finance,69,70,75,Placed,200000
2,3,M,72.00,Others,78.00,Others,Commerce,66.63,Engineering,0,NaN,0.0,52.91,Marketing & Finance,50,61,59,Placed,240000
3,4,M,60.00,CBSE,63.00,CBSE,Arts,58.00,Management,0,MAT,75.0,57.80,Marketing & Finance,54,66,62,Placed,250000
4,5,M,61.00,CBSE,55.00,ISC,Science,54.00,Engineering,1,MAT,66.0,59.43,Marketing & HR,52,65,67,Placed,180000

In [ ]:
cols = [ i for i in dfa.columns if dfa[i].dtype=='O']
dfaa =pd.get_dummies(dfa,columns = cols,drop_first=True)
dfaa.shape

In [49]:
y =  dfaa['Salary']
x = dfaa.drop(columns ='Salary')

In [50]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 1/3, random_state = 0)

In [48]:
dfaa.head()

,SlNo,Percent_SSC,Percent_HSC,Percent_Degree,Experience_Yrs,Percentile_ET,Percent_MBA,Marks_Communication,Marks_Projectwork,Marks_BOCA,...,Entrance_Test_G-MAT,Entrance_Test_G-SAT,Entrance_Test_GCET,Entrance_Test_K-MAT,Entrance_Test_MAT,Entrance_Test_PGCET,Entrance_Test_XAT,Specialization_MBA_Marketing & HR,Specialization_MBA_Marketing & IB,Placement_Placed
0,1,62.00,88.00,52.00,0,55.0,58.80,50,65,74,...,0,0,0,0,1,0,0,1,0,1
1,2,76.33,75.33,75.48,1,86.5,66.28,69,70,75,...,0,0,0,0,1,0,0,0,0,1
2,3,72.00,78.00,66.63,0,0.0,52.91,50,61,59,...,0,0,0,0,0,0,0,0,0,1
3,4,60.00,63.00,58.00,0,75.0,57.80,54,66,62,...,0,0,0,0,1,0,0,0,0,1
4,5,61.00,55.00,54.00,1,66.0,59.43,52,65,67,...,0,0,0,0,1,0,0,1,0,1

In [51]:
#using a basic model.

regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [52]:
regressor.intercept_

-229281.6298556022

In [53]:
regressor.coef_

array([ 3.68522998e+01, -2.44897021e+02,  3.25986267e+02,  7.52981453e+02,
        1.97531634e+04,  3.05857599e+02,  7.96642749e+02,  1.17378602e+03,
        2.76192788e+02,  1.27361871e+02,  3.86195876e+04, -3.34096766e+04,
       -1.75999671e+04,  2.75904378e+04,  3.29381796e+03,  5.26556226e+04,
        3.91400576e+04, -3.89310741e+04, -2.12150306e+04,  1.94558957e+04,
       -3.84686067e+04, -4.49123789e+04, -4.99647828e+04,  2.43478639e+04,
       -5.08899314e+04, -3.51937184e+04,  4.27656094e+04, -2.80856767e+04,
        1.25594426e+04, -2.25107342e+03, -2.73232678e+04, -2.47408174e+04,
        2.71323738e+05])

In [59]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge,Lasso,RidgeCV,LassoCV
from sklearn.metrics import mean_absolute_error
from mlxtend.feature_selection import SequentialFeatureSelector as sfs

In [ ]:
#hypertuning using the gridsearch

In [60]:
lambdas=np.linspace(0,5,100)
params={'alpha':lambdas}
model=Ridge(fit_intercept=True)
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='r2',n_jobs=-1)
grid_search.fit(X_train,y_train)
print(grid_search.best_estimator_)
grid_search.cv_results_
test_pred=grid_search.predict(X_test)
print('MSE',mean_absolute_error(y_test,test_pred))
print('train r2',grid_search.score(X_train,y_train) ,'test r2',grid_search.score(X_test,y_test))

Ridge(alpha=2.7777777777777777, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)
MSE 51181.03182119798
train r2 0.6850146024194523 test r2 0.7272145083824675

In [61]:
grid_search.best_estimator_

Ridge(alpha=2.7777777777777777, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [ ]:
#fitting the best fit hyperparameters to the lasso

In [62]:

lasso = grid_search.best_estimator_
lasso.fit(X_train,y_train)
train_score=lasso.score(X_train,y_train)
test_score=lasso.score(X_test,y_test)
coeff_used = np.sum(lasso.coef_!=0)
lasso.coef_,coeff_used

(array([ 3.16859894e+01,  9.65488222e+01,  1.74075480e+02,  7.84947497e+02,
         1.90801106e+04,  3.70139386e+02,  6.90042077e+02,  1.00387558e+03,
         5.71825645e+02,  1.53719490e+02,  3.79761055e+04, -2.34345957e+04,
        -1.28942387e+04,  1.97543360e+04, -1.41378518e+03,  2.72098968e+04,
         1.55390303e+04, -1.27740273e+04, -5.56856668e+03,  3.71347813e+04,
        -1.54279290e+04, -1.03995393e+04, -2.31782694e+04,  7.60968510e+03,
        -8.49700680e+03, -1.47647134e+04,  3.43304317e+04, -3.04839547e+04,
         9.57067944e+02, -1.39298977e+03, -2.27056262e+04, -1.64905839e+04,
         2.48683205e+05]), 33)

In [ ]:
# using ridge regression- regularization

In [65]:
model1=RidgeCV(alphas=(22,23,24,25),fit_intercept=True,scoring='r2',cv=10)#gcv_mode = ( 'svd', 'eigen')
model1.fit(X_train,y_train)
test_predcv =model1.predict(X_test)
print('MSE',mean_absolute_error(y_test,test_predcv))
print('train r2',model1.score(X_train,y_train) ,'test r2',model1.score(X_test,y_test))
resid = y_test -test_predcv

MSE 62411.7925959025
train r2 0.604892366402327 test r2 0.6387280639996766

In [ ]:
#using Lasso regression-- regularization

In [67]:
model1=LassoCV(alphas=(22,23,24,25),fit_intercept=True,cv=10)#gcv_mode = ( 'svd', 'eigen')
model1.fit(X_train,y_train)
test_predcv =model1.predict(X_test)
print('MSE',mean_absolute_error(y_test,test_predcv))
print('train r2',model1.score(X_train,y_train) ,'test r2',model1.score(X_test,y_test))
resid = y_test -test_predcv

MSE 52245.30284694547
train r2 0.6900931607174117 test r2 0.7191377288605725

In [ ]:
here , if we take lasso, it will automatically remove all the unimportant features by making their coefficents to zero.
so, we can find the better perforamnce than ridge, when columns are more.