In [1]:
#1

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df =pd.read_csv(r'C:\Users\SRK\Desktop\siva_python\w2\Dataset.csv')

In [4]:
df.head()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
1,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972"
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
3,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972"
4,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973"

<H1 align ='center'>Section1</H1>

1. A. How many teams are unique and not repeating in the "Team 1" column. Make a list to display the same (1 mark)

In [5]:
Team1_unique_teams =df['Team 1'].unique()
print(Team1_unique_teams)

['Australia' 'England' 'New Zealand' 'East Africa' 'Sri Lanka' 'Pakistan'
 'India' 'West Indies' 'Canada' 'Bangladesh' 'South Africa' 'Zimbabwe'
 'U.A.E.' 'Netherlands' 'Kenya' 'Scotland' 'Namibia' 'Hong Kong' 'Asia XI'
 'Africa XI' 'Bermuda' 'Ireland' 'Afghanistan' 'P.N.G.']

1.B. How many teams are unique and not repeating in the "Team 2" column. Make a list to display the same (1 mark)

In [6]:
Team2_unique_teams =df['Team 2'].unique()
print(Team2_unique_teams)

['England' 'Australia' 'Pakistan' 'New Zealand' 'West Indies' 'India'
 'Sri Lanka' 'East Africa' 'Canada' 'Zimbabwe' 'Bangladesh' 'South Africa'
 'U.A.E.' 'Kenya' 'Netherlands' 'Scotland' 'Namibia' 'Hong Kong' 'U.S.A.'
 'ICC World XI' 'Asia XI' 'Ireland' 'Bermuda' 'Afghanistan' 'P.N.G.']

1.C. Find the Total Number of Unique Teams (from both Team 1 and Team 2 combined) using Set Operations and display the same in a list (1 mark)

In [7]:
set_combine = np.hstack([Team1_unique_teams,Team2_unique_teams])
unique_set =set(set_combine)
unique_set

{'Afghanistan',
 'Africa XI',
 'Asia XI',
 'Australia',
 'Bangladesh',
 'Bermuda',
 'Canada',
 'East Africa',
 'England',
 'Hong Kong',
 'ICC World XI',
 'India',
 'Ireland',
 'Kenya',
 'Namibia',
 'Netherlands',
 'New Zealand',
 'P.N.G.',
 'Pakistan',
 'Scotland',
 'South Africa',
 'Sri Lanka',
 'U.A.E.',
 'U.S.A.',
 'West Indies',
 'Zimbabwe'}

1.D. Remove all the team names ending with 'XI' and display the filtered output to get the final list of Teams (1 mark)

In [8]:
filtered = [i for i in unique_set if not i.endswith(('XI'))]
filtered

['India',
 'Zimbabwe',
 'East Africa',
 'Ireland',
 'Bangladesh',
 'Sri Lanka',
 'Pakistan',
 'Australia',
 'U.A.E.',
 'Hong Kong',
 'South Africa',
 'England',
 'Scotland',
 'U.S.A.',
 'P.N.G.',
 'Netherlands',
 'New Zealand',
 'Canada',
 'Afghanistan',
 'West Indies',
 'Bermuda',
 'Kenya',
 'Namibia']

<H1 align ='center'>Section B</H1>

2.1 A) Display the Records of every ODI_Matches played after removing those team names ending with "XI" which was done in the previous question

In [9]:
df.drop(df[df['Team 1'].str.endswith('XI')].index,inplace =True)
df[df['Team 1'].str.endswith('XI')]# no elements with XI as ending

Empty DataFrame
Columns: [Scorecard, Team 1, Team 2, Winner, Margin, Ground, Match Date]
Index: []

In [10]:
df.drop(df[df['Team 2'].str.endswith('XI')].index,inplace =True)
df[df['Team 2'].str.endswith('XI')]# no elements with XI as ending

Empty DataFrame
Columns: [Scorecard, Team 1, Team 2, Winner, Margin, Ground, Match Date]
Index: []

2.1 B) Rename "Scorecard" to "Odi_No" – (1 mark)

In [11]:
df.rename(columns ={'Scorecard':'Odi_No'},inplace =True)

In [12]:
df.head()

,Odi_No,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
1,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972"
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
3,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972"
4,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973"

2.1 C) Set "Scorecard" as index for these records

In [14]:
df.index = df['Odi_No']

In [15]:
df.head()

,Odi_No,Team 1,Team 2,Winner,Margin,Ground,Match Date
Odi_No,,,,,,,
ODI # 1,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
ODI # 2,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972"
ODI # 3,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
ODI # 4,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972"
ODI # 5,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973"

2.2 A) Find the total number of matches won by each team in ascending order and make it in a data frame

In [17]:
#df['Total_no_of wins']=
lis =df['Winner'].value_counts()
#df['Total_no_of wins']
lis

Australia       552
India           476
Pakistan        469
West Indies     380
Sri Lanka       372
South Africa    361
England         343
New Zealand     324
no result       139
Zimbabwe        129
Bangladesh      105
Ireland          51
Kenya            42
Afghanistan      42
tied             34
Scotland         31
Netherlands      28
Canada           17
U.A.E.            9
Bermuda           7
Hong Kong         6
P.N.G.            5
Name: Winner, dtype: int64

In [ ]:
df.head()

In [20]:
df['Total wins'] = df['Winner'].map(lis)

In [21]:
df.head()

,Odi_No,Team 1,Team 2,Winner,Margin,Ground,Match Date,Total wins
Odi_No,,,,,,,,
ODI # 1,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971",552
ODI # 2,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972",343
ODI # 3,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972",552
ODI # 4,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972",343
ODI # 5,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973",324

2.2 B) Make a new column "Team" to capture the different teams in the dataset

In [ ]:
df['Team'] = df[df['Team 1'].unique()]

In [ ]:
lstTeam = df['Team 1'].unique()

In [ ]:
df[]

In [ ]:
2.2 C) Rename the "Odi_No" column "Number of Wins" – (1 mark)

In [26]:
df.rename(columns ={'Odi_No':'Number of Wins'},inplace =True)

In [27]:
df.head()

,Number of Wins,Team 1,Team 2,Winner,Margin,Ground,Match Date,Total wins
Odi_No,,,,,,,,
ODI # 1,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971",552
ODI # 2,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972",343
ODI # 3,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972",552
ODI # 4,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972",343
ODI # 5,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973",324

In [ ]:
2.2 D) Drop the rows - "Result" and "Not Tied" – (1 mark)

In [29]:
df[(df['Margin']=='Result') & (df['Margin']== 'Not Tied')].index

Index([], dtype='object', name='Odi_No')

In [ ]:
df[df['Margin']=='Result']

In [30]:
df.drop(df[(df['Margin']=='Result') & (df['Margin']== 'Not Tied')].index,inplace =True)

In [32]:
df[df['Margin']=='Result']

Empty DataFrame
Columns: [Number of Wins, Team 1, Team 2, Winner, Margin, Ground, Match Date, Total wins]
Index: []

<H1 align ='center'>Section C</H1>

3.1 Find the total number of matches played by each Country as both Team 1 and Team 2. After that find the total number of matches played by each country as a whole

In [40]:
l =df['Team 1'].value_counts()
l

Australia       580
India           562
England         393
New Zealand     392
Pakistan        382
Sri Lanka       300
South Africa    279
West Indies     260
Bangladesh      213
Zimbabwe        196
Kenya            81
Ireland          72
Canada           50
Scotland         40
Afghanistan      38
Netherlands      34
Bermuda          17
U.A.E.           17
Hong Kong        10
East Africa       2
P.N.G.            2
Namibia           2
Name: Team 1, dtype: int64

In [45]:
l1 = df['Team 2'].value_counts()
type(l1)

pandas.core.series.Series

In [47]:
T = l.add(l1,fill_value=0)# we can use add to sum the two series
T

Afghanistan      83.0
Australia       903.0
Bangladesh      335.0
Bermuda          35.0
Canada           77.0
East Africa       3.0
England         697.0
Hong Kong        18.0
India           930.0
Ireland         123.0
Kenya           154.0
Namibia           6.0
Netherlands      76.0
New Zealand     731.0
P.N.G.           10.0
Pakistan        884.0
Scotland         93.0
South Africa    583.0
Sri Lanka       808.0
U.A.E.           35.0
U.S.A.            2.0
West Indies     767.0
Zimbabwe        491.0
dtype: float64

3.2 :- A) With the given hint, first replace all the NAN values with 0 using the below code. --your merged dataset here--.fillna(0,inplace=True

In [48]:
df.fillna(value =0,inplace = True)

In [53]:
#df.isnull()

3.2 : - B) Convert the data type of the Team 2 column from float64 to int64 – (1 mark)

In [58]:
df.head(2)

,Number of Wins,Team 1,Team 2,Winner,Margin,Ground,Match Date,Total wins
Odi_No,,,,,,,,
ODI # 1,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971",552
ODI # 2,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972",343

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3922 entries, ODI # 1 to ODI # 3932
Data columns (total 8 columns):
Number of Wins    3922 non-null object
Team 1            3922 non-null object
Team 2            3922 non-null object
Winner            3922 non-null object
Margin            3922 non-null object
Ground            3922 non-null object
Match Date        3922 non-null object
Total wins        3922 non-null int64
dtypes: int64(1), object(7)
memory usage: 435.8+ KB

In [65]:
#df['Team 2'].astype(str).astype(int)

C) Add the values of Columns "Team 2" and "Team 1" – (1 mark)

D) Make a new column "Country"

E) Sort and display the total number of matches played by each country in descending order and state your insights – (2 marks)

In [63]:
T.sort_values(ascending=False)

India           930.0
Australia       903.0
Pakistan        884.0
Sri Lanka       808.0
West Indies     767.0
New Zealand     731.0
England         697.0
South Africa    583.0
Zimbabwe        491.0
Bangladesh      335.0
Kenya           154.0
Ireland         123.0
Scotland         93.0
Afghanistan      83.0
Canada           77.0
Netherlands      76.0
Bermuda          35.0
U.A.E.           35.0
Hong Kong        18.0
P.N.G.           10.0
Namibia           6.0
East Africa       3.0
U.S.A.            2.0
dtype: float64

3.3 Find out the win percentage of each country and also make a bar plot on the same. Provide your insights on the same

In [79]:
W1 =df['Winner'].value_counts()
W1

Australia       552
India           476
Pakistan        469
West Indies     380
Sri Lanka       372
South Africa    361
England         343
New Zealand     324
no result       139
Zimbabwe        129
Bangladesh      105
Ireland          51
Kenya            42
Afghanistan      42
tied             34
Scotland         31
Netherlands      28
Canada           17
U.A.E.            9
Bermuda           7
Hong Kong         6
P.N.G.            5
Name: Winner, dtype: int64

In [78]:
Total = T
T

Afghanistan      83.0
Australia       903.0
Bangladesh      335.0
Bermuda          35.0
Canada           77.0
East Africa       3.0
England         697.0
Hong Kong        18.0
India           930.0
Ireland         123.0
Kenya           154.0
Namibia           6.0
Netherlands      76.0
New Zealand     731.0
P.N.G.           10.0
Pakistan        884.0
Scotland         93.0
South Africa    583.0
Sri Lanka       808.0
U.A.E.           35.0
U.S.A.            2.0
West Indies     767.0
Zimbabwe        491.0
dtype: float64

In [108]:
ll =W1.divide(T,fill_value=0)

ll.drop(index=['no result','tied'],axis =1,inplace=True)
percent =ll*100
percent

Afghanistan     50.602410
Australia       61.129568
Bangladesh      31.343284
Bermuda         20.000000
Canada          22.077922
East Africa      0.000000
England         49.210904
Hong Kong       33.333333
India           51.182796
Ireland         41.463415
Kenya           27.272727
Namibia          0.000000
Netherlands     36.842105
New Zealand     44.322845
P.N.G.          50.000000
Pakistan        53.054299
Scotland        33.333333
South Africa    61.921098
Sri Lanka       46.039604
U.A.E.          25.714286
U.S.A.           0.000000
West Indies     49.543677
Zimbabwe        26.272912
dtype: float64

In [116]:
sp =pd.Series(percent)
print(sp)
st = pd.Series(T)
print(st)

Afghanistan     50.602410
Australia       61.129568
Bangladesh      31.343284
Bermuda         20.000000
Canada          22.077922
East Africa      0.000000
England         49.210904
Hong Kong       33.333333
India           51.182796
Ireland         41.463415
Kenya           27.272727
Namibia          0.000000
Netherlands     36.842105
New Zealand     44.322845
P.N.G.          50.000000
Pakistan        53.054299
Scotland        33.333333
South Africa    61.921098
Sri Lanka       46.039604
U.A.E.          25.714286
U.S.A.           0.000000
West Indies     49.543677
Zimbabwe        26.272912
dtype: float64
Afghanistan      83.0
Australia       903.0
Bangladesh      335.0
Bermuda          35.0
Canada           77.0
East Africa       3.0
England         697.0
Hong Kong        18.0
India           930.0
Ireland         123.0
Kenya           154.0
Namibia           6.0
Netherlands      76.0
New Zealand     731.0
P.N.G.           10.0
Pakistan        884.0
Scotland         93.0
South Africa    583.0
Sri Lanka       808.0
U.A.E.           35.0
U.S.A.            2.0
West Indies     767.0
Zimbabwe        491.0
dtype: float64

In [119]:
Final =pd.concat([sp,st],axis=1)

In [120]:
Final

                      0      1
Afghanistan   50.602410   83.0
Australia     61.129568  903.0
Bangladesh    31.343284  335.0
Bermuda       20.000000   35.0
Canada        22.077922   77.0
East Africa    0.000000    3.0
England       49.210904  697.0
Hong Kong     33.333333   18.0
India         51.182796  930.0
Ireland       41.463415  123.0
Kenya         27.272727  154.0
Namibia        0.000000    6.0
Netherlands   36.842105   76.0
New Zealand   44.322845  731.0
P.N.G.        50.000000   10.0
Pakistan      53.054299  884.0
Scotland      33.333333   93.0
South Africa  61.921098  583.0
Sri Lanka     46.039604  808.0
U.A.E.        25.714286   35.0
U.S.A.         0.000000    2.0
West Indies   49.543677  767.0
Zimbabwe      26.272912  491.0

In [121]:
import plotly.offline as plo
import plotly.graph_objs as go

In [125]:
data  = [go.Bar(x =Final.index,y =Final[0])]
layout = go.Layout(title ='bargraph for percentage of winning of contries')
fig =go.Figure(data,layout)
plo.iplot(fig)