In [1]:
t = (1,2,3)
print(t)

(1, 2, 3)

In [2]:
type(t)

tuple

In [3]:
fruit = ('apple','banana','orange')
print(fruit)
print(type(fruit))

('apple', 'banana', 'orange')
<class 'tuple'>

In [4]:
std= (100,'Ann',26,5.4,True)
print(std)
print(type(std))

(100, 'Ann', 26, 5.4, True)
<class 'tuple'>

In [5]:
t

(1, 2, 3)

In [6]:
t * 2

(1, 2, 3, 1, 2, 3)

In [8]:
t1 = (1, 2, 3)
t2 = (10, 20, 30)
t_out = t1+t2
print(t_out)

(1, 2, 3, 10, 20, 30)

In [9]:
t1 = (1, 2, 3)
t2 = (10, 20, 30)
t_out = t1 - t2
print(t_out)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [11]:
t = (1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [12]:
3 in t

True

In [13]:
6 in t

False

In [32]:
std= (200,'Ann',26,5.4,False)
std

(200, 'Ann', 26, 5.4, False)

In [35]:
'Ann' in std

True

In [36]:
len(std)

5

In [37]:
t

(1, 2, 3, 4, 5)

In [39]:
for i in t:
    print(i)

1
2
3
4
5

In [41]:
for i in t:
    print(i , t)

1 (1, 2, 3, 4, 5)
2 (1, 2, 3, 4, 5)
3 (1, 2, 3, 4, 5)
4 (1, 2, 3, 4, 5)
5 (1, 2, 3, 4, 5)

In [42]:
t

(1, 2, 3, 4, 5)

In [43]:
max(t)

5

In [44]:
min(t)

1

In [45]:
sum(t)

15

In [46]:
len(t)

5

In [47]:
std

(200, 'Ann', 26, 5.4, False)

In [48]:
max(std)

TypeError: '>' not supported between instances of 'str' and 'int'

In [50]:
nm = "great learning"
tuple(nm)

('g', 'r', 'e', 'a', 't', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g')

In [52]:
age = (40,8,35,5)
sorted(age)

[5, 8, 35, 40]

In [54]:
sorted(age,reverse=True)

[40, 35, 8, 5]

In [53]:
age

(40, 8, 35, 5)

In [57]:
i =  "4500"
tuple(i)

('4', '5', '0', '0')

In [62]:
fruit = ('apple','orange','banana')
sorted(fruit)

['apple', 'banana', 'orange']

In [64]:
sorted(std)

TypeError: '<' not supported between instances of 'str' and 'int'

In [67]:
t = (10,2,24.46,4.6)
t

(10, 2, 24.46, 4.6)

In [68]:
sorted(t)

[2, 4.6, 10, 24.46]

In [117]:
fruits = ("orange","apple","cherry","apple","grapes")
fruits

('orange', 'apple', 'cherry', 'apple', 'grapes')

In [70]:
fruits[1]

'apple'

In [71]:
fruits[3]

'apple'

In [72]:
fruits[2:]

('cherry', 'apple', 'grapes')

In [73]:
fruits[1:3]

('apple', 'cherry')

In [74]:
fruits[::-1]

('grapes', 'apple', 'cherry', 'apple', 'orange')

In [75]:
fruits[-2]

'apple'

In [76]:
fruits

('orange', 'apple', 'cherry', 'apple', 'grapes')

In [80]:
fruits[1]

'apple'

In [81]:
fruits[1][4]

'e'

In [82]:
fruits[1,4]

TypeError: tuple indices must be integers or slices, not tuple

In [83]:
fruits[1],fruits[3]

('apple', 'apple')

In [86]:
fruits[::]

('orange', 'apple', 'cherry', 'apple', 'grapes')

In [89]:
fruits[::2]

('orange', 'cherry', 'grapes')

In [90]:
fruits[::-2]

('grapes', 'cherry', 'orange')

In [91]:
fruits[::-1]

('grapes', 'apple', 'cherry', 'apple', 'orange')

In [92]:
fruits[::]

('orange', 'apple', 'cherry', 'apple', 'grapes')

In [94]:
fruits[1],fruits[3]

('apple', 'apple')

In [99]:
fruits[::]

('orange', 'apple', 'cherry', 'apple', 'grapes')

In [100]:
fruits[1:4]

('apple', 'cherry', 'apple')

In [101]:
fruits[1:4:2]

('apple', 'apple')

In [102]:
fruits[1]

'apple'

In [103]:
fruits

('orange', 'apple', 'cherry', 'apple', 'grapes')

In [104]:
fruits[0:3]

('orange', 'apple', 'cherry')

In [105]:
fruits

('orange', 'apple', 'cherry', 'apple', 'grapes')

In [106]:
fruits[1:4]

('apple', 'cherry', 'apple')

In [107]:
fruits[1:4:2]

('apple', 'apple')

In [108]:
fruits[1]

'apple'

In [109]:
del fruits[1]

TypeError: 'tuple' object doesn't support item deletion

In [111]:
fruits[1]  = 'Apple'

TypeError: 'tuple' object does not support item assignment

In [113]:
del fruits

In [115]:
fruits

NameError: name 'fruits' is not defined

In [116]:
fruits[-1:-4]

NameError: name 'fruits' is not defined

In [118]:
fruits

('orange', 'apple', 'cherry', 'apple', 'grapes')

In [121]:
fruits[:-1]

('orange', 'apple', 'cherry', 'apple')

In [122]:
fruits[-1:]

('grapes',)

In [120]:
fruits[-1:-3]

()

In [123]:
fruits[-3:-1]

('cherry', 'apple')

In [124]:
l = [ 1,2,3,4,5]
print(l)
print(type(l))

[1, 2, 3, 4, 5]
<class 'list'>

In [125]:
List1 = [1,2,3,4]
List2 = ["a","b"]
Concatenation = List1 + List2
Concatenation

[1, 2, 3, 4, 'a', 'b']

In [127]:
l

[1, 2, 3, 4, 5]

In [128]:
3 in l

True

In [129]:
13 in l

False

In [130]:
len(l)

5

In [131]:
for i in l:
    print(i)

1
2
3
4
5

In [132]:
l

[1, 2, 3, 4, 5]

In [133]:
t

(10, 2, 24.46, 4.6)

In [134]:
list(t)

[10, 2, 24.46, 4.6]

In [135]:
nm

'great learning'

In [136]:
list(nm)

['g', 'r', 'e', 'a', 't', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [145]:
l1 = ['Penguin','cat','Hippopotam', 'dog', 'rabbit']
l1

['Penguin', 'cat', 'Hippopotam', 'dog', 'rabbit']

In [139]:
l1.append('rat')

In [140]:
l1

['Penguin', 'cat', 'Hippopotam', 'dog', 'rabbit', 'rat']

In [141]:
l1.clear()
l1

[]

In [151]:
List = ['Penguin','cat','Hippopotam', 'dog', 'rabbit']

new_list = List.copy()
List.append('pig')
print('Old List: ', List)
print('New List: ', new_list)

Old List:  ['Penguin', 'cat', 'Hippopotam', 'dog', 'rabbit', 'pig']
New List:  ['Penguin', 'cat', 'Hippopotam', 'dog', 'rabbit']

In [152]:
List.append('rat')

In [153]:
print('Old List: ', List)
print('New List: ', new_list)

Old List:  ['Penguin', 'cat', 'Hippopotam', 'dog', 'rabbit', 'pig', 'rat']
New List:  ['Penguin', 'cat', 'Hippopotam', 'dog', 'rabbit']

In [146]:
l1

['Penguin', 'cat', 'Hippopotam', 'dog', 'rabbit']

In [147]:
l2 = l1
l2

['Penguin', 'cat', 'Hippopotam', 'dog', 'rabbit']

In [148]:
l1.append('rat')

In [149]:
l1

['Penguin', 'cat', 'Hippopotam', 'dog', 'rabbit', 'rat']

In [150]:
l2

['Penguin', 'cat', 'Hippopotam', 'dog', 'rabbit', 'rat']

In [156]:
l1 = [1,2,3]
l1

[1, 2, 3]

In [157]:
l2 = l1
l2

[1, 2, 3]

In [158]:
l1.append(4)

In [159]:
l1

[1, 2, 3, 4]

In [160]:
l2

[1, 2, 3, 4]

In [161]:
l1

[1, 2, 3, 4]

In [162]:
l3 = l1.copy()
l3

[1, 2, 3, 4]

In [163]:
l1.append(5)
l1

[1, 2, 3, 4, 5]

In [164]:
l3

[1, 2, 3, 4]

In [165]:
List = ['a', 'e', 'i', 'o', 'i', 'u']
List.count('i')

2

In [166]:
fruits

('orange', 'apple', 'cherry', 'apple', 'grapes')

In [169]:
fruits.count('apple')

2

In [170]:
List1 = [1,2,3,4]
List2 = [5,6,7,8]
List1.extend(List2)
print('Language List: ', List1)

Language List:  [1, 2, 3, 4, 5, 6, 7, 8]

In [171]:
List1 = [1,2,3,4]
List2 = [5,6,7,8]
l = List1 + List2
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [172]:
List2.append(10)

In [173]:
List1

[1, 2, 3, 4]

In [174]:
List2

[5, 6, 7, 8, 10]

In [175]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [176]:
List1 = [1,2,3,4]
List2 = [5,6,7,8]
List1.extend(List2)

In [177]:
List2.append(10)

In [178]:
List2

[5, 6, 7, 8, 10]

In [179]:
List1

[1, 2, 3, 4, 5, 6, 7, 8]

In [1]:
List = ['a', 'e', 'i', 'o', 'i', 'u']
List.index('i')

2

In [181]:
fruits

('orange', 'apple', 'cherry', 'apple', 'grapes')

In [182]:
fruits.index('cherry')

2

In [183]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [184]:
l.index(3)

2

In [187]:
List = ['a', 'e', 'i', 'u']
List.insert(3, 'o')
List

['a', 'e', 'i', 'o', 'u']

In [188]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [189]:
del l[3]

In [190]:
l

[1, 2, 3, 5, 6, 7, 8]

In [191]:
l.insert(3,4)

In [192]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [194]:
l[4] = 'Five'
l

[1, 2, 3, 4, 'Five', 6, 7, 8]

In [195]:
List = ['a', 'e', 'i', 'u']
return_value = List.pop(3)
print('Return Value: ', return_value)
print('Updated List: ', List)

Return Value:  u
Updated List:  ['a', 'e', 'i']

In [196]:
List = ['a', 'e', 'i', 'u']

In [197]:
del List[3]
List

['a', 'e', 'i']

In [198]:
List

['a', 'e', 'i']

In [199]:
List.remove('e')

In [200]:
List

['a', 'i']

In [201]:
fruits

('orange', 'apple', 'cherry', 'apple', 'grapes')

In [202]:
fruits[::-1]

('grapes', 'apple', 'cherry', 'apple', 'orange')

In [203]:
type(fruits)

tuple

In [204]:
fruits = list(fruits)

In [205]:
fruits.reverse()

In [206]:
fruits

['grapes', 'apple', 'cherry', 'apple', 'orange']

In [217]:
List = [876,5890,9876,6789,876,54,56,789,87,65,6789,8,765,4,567,89]
List.sort(reverse=True)

In [218]:
List

[9876, 6789, 6789, 5890, 876, 876, 789, 765, 567, 89, 87, 65, 56, 54, 8, 4]

In [219]:
List = [876,5890,9876,6789,876,54,56,789,87,65,6789,8,765,4,567,89]
print(sorted(List,reverse=True))
List

[9876, 6789, 6789, 5890, 876, 876, 789, 765, 567, 89, 87, 65, 56, 54, 8, 4]

[876, 5890, 9876, 6789, 876, 54, 56, 789, 87, 65, 6789, 8, 765, 4, 567, 89]

In [225]:
s = ['a','b','c','d','e','f','g','h','i']
s

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [226]:
s[2:7]

['c', 'd', 'e', 'f', 'g']

In [227]:
s[2:7:2]

['c', 'e', 'g']

In [228]:
s[2:7:3]

['c', 'f']

In [229]:
s

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [230]:
s.append(1,2,3)

TypeError: append() takes exactly one argument (3 given)

In [231]:
l

[1, 2, 3, 4, 'Five', 6, 7, 8]

In [232]:
l1

[1, 2, 3, 4, 5]

In [233]:
l.append(l1)

In [234]:
l

[1, 2, 3, 4, 'Five', 6, 7, 8, [1, 2, 3, 4, 5]]

In [238]:
a = ["a", "b", "c", "d", "e", "f", "g", "h","I"]
x = slice(2,7,2)
x

slice(2, 7, 2)

In [239]:
print(a[x])

['c', 'e', 'g']

In [240]:
a

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'I']

In [241]:
a[2:7]

['c', 'd', 'e', 'f', 'g']

In [242]:
a[2:7:2]

['c', 'e', 'g']

In [243]:
fruits = ["apple","bananna","orange","grapes"]

# add a new lines for each object
aw = "\n".join(fruits)
print(aw)

apple
bananna
orange
grapes

In [244]:
fruits = ["apple","bananna","orange","grapes"]

# add a new lines for each object
aw = "\t".join(fruits)
print(aw)

apple	bananna	orange	grapes

In [246]:
fruits = ["apple","bananna","orange","grapes"]

# add a new lines for each object
aw = "#".join(fruits)
print(aw)

apple#bananna#orange#grapes

In [247]:
s = {1,2,3,4,4,5,6}
s

{1, 2, 3, 4, 5, 6}

In [248]:
t

(10, 2, 24.46, 4.6)

In [249]:
set(t)

{2, 4.6, 10, 24.46}

In [250]:
type(s)

set

In [5]:
s1 = {}

In [6]:
type(s1)

dict

In [253]:
A = {0, 2, 4, 6, 8,7,8,5,7,8,5,7}
B = {1, 2, 3, 4, 5,7,5,8}
print("Union :", A | B)

Union : {0, 1, 2, 3, 4, 5, 6, 7, 8}

In [254]:
A = {0, 2, 4, 6, 8,7,8,5,7,8,5,7}
B = {1, 2, 3, 4, 5,7,5,8}
print("Intersection :", A & B)

Intersection : {2, 4, 5, 7, 8}

In [255]:
A = {0, 2, 4, 6, 8,7,8,5,7,8,5,7}
B = {1, 2, 3, 4, 5,7,5,8}
print("Difference :", A - B)

Difference : {0, 6}

In [256]:
A = {0, 2, 4, 6, 8,7,8,5,7,8,5,7}
B = {1, 2, 3, 4, 5,7,5,8}
print("Symmetric difference :", A ^ B)

Symmetric difference : {0, 1, 3, 6}

In [257]:
ss = {"apple", "banana", "apple", "grapes", "grapes", "cherry"}
print(ss )# it removed duplicates

{'grapes', 'apple', 'cherry', 'banana'}

In [258]:

ss.add("mango")
print(ss)

{'apple', 'banana', 'mango', 'grapes', 'cherry'}

In [259]:

ss.remove("mango")
print(ss)

{'apple', 'banana', 'grapes', 'cherry'}

In [268]:
d = {'id':100 , 'nm' : "GL"}
d

{'id': 100, 'nm': 'GL'}

In [261]:
type(d)

dict

In [262]:
len(d)

2

In [267]:
d.clear()
d

{}

In [271]:
d

{'id': 100, 'nm': 'GL'}

In [272]:
d1 = d.copy()
d1

{'id': 100, 'nm': 'GL'}

In [273]:
l

[1, 2, 3, 4, 'Five', 6, 7, 8, [1, 2, 3, 4, 5]]

In [274]:
l1

[1, 2, 3, 4, 5]

In [276]:
tuple(l1)

(1, 2, 3, 4, 5)

In [277]:
dict(l1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [4]:
seq = ('name', 'age', 'sex')
seq2 = (1,2,3)

In [7]:
dict = dict.fromkeys(seq)
dict

{'name': None, 'age': None, 'sex': None}

In [9]:
seq = ('name', 'age', 'sex')
#dict = dict.fromkeys(seq,10)
dict1= dict.fromkeys(seq,seq2)

In [282]:
dict.items()

dict_items([('name', 10), ('age', 10), ('sex', 10)])

In [283]:
dict.keys()

dict_keys(['name', 'age', 'sex'])

In [284]:
dict.values()

dict_values([10, 10, 10])

In [285]:
person = {'name': 'Phill'}
person

{'name': 'Phill'}

In [286]:
person.keys()

dict_keys(['name'])

In [287]:
person.values()

dict_values(['Phill'])

In [288]:
person

{'name': 'Phill'}

In [289]:
salary = person.setdefault('salary' )

In [290]:
person

{'name': 'Phill', 'salary': None}

In [298]:
person = {'name': 'Phill'}

person.setdefault('salary' , 5000)

5000

In [299]:
person

{'name': 'Phill', 'salary': 5000}

In [300]:
person.setdefault('city' , 'chennai')
person

{'name': 'Phill', 'salary': 5000, 'city': 'chennai'}

In [301]:
d = {'prd':100,'nm':'abc','amt':'1000'}
d

{'prd': 100, 'nm': 'abc', 'amt': '1000'}

In [302]:
d.items()

dict_items([('prd', 100), ('nm', 'abc'), ('amt', '1000')])

In [303]:
d.keys()

dict_keys(['prd', 'nm', 'amt'])

In [304]:
d.values()

dict_values([100, 'abc', '1000'])

In [306]:
d["amt"] = 10000
d

{'prd': 100, 'nm': 'abc', 'amt': 10000}

In [307]:
d['nm'] = 'Ann'
d

{'prd': 100, 'nm': 'Ann', 'amt': 10000}

In [308]:
del d['prd']
d

{'nm': 'Ann', 'amt': 10000}

In [309]:
d

{'nm': 'Ann', 'amt': 10000}

In [310]:
d1 = {'100':'GL','101':'Great',"100":"Great learning"}
d1

{'100': 'Great learning', '101': 'Great'}

In [312]:
Dictionaries = {1: "GREAT", 2: "LEARNING"}
new = Dictionaries.copy()
new

{1: 'GREAT', 2: 'LEARNING'}

In [313]:
l = [1,2,3]
l1 = l.copy()
l1

[1, 2, 3]

In [314]:
# dict1, value of key 2 is three which has to be updated as two from dict2
Dict1 = {1: "one", 2: "three",4:"five"}
print("before update :",Dict1)

Dict2 = {2: "two",4: "four"}
print("before update :",Dict2)

before update : {1: 'one', 2: 'three', 4: 'five'}
before update : {2: 'two', 4: 'four'}

In [315]:
Dict1.update(Dict2)
print("After update :",Dict1)
print("After update :",Dict2)

After update : {1: 'one', 2: 'two', 4: 'four'}
After update : {2: 'two', 4: 'four'}

In [316]:
Dict1 = {1: "one", 2: "three",4:"five"}
print("before update :",Dict1)

Dict2 = {2: "two",4: "four", 5:"five"}
print("before update :",Dict2)

before update : {1: 'one', 2: 'three', 4: 'five'}
before update : {2: 'two', 4: 'four', 5: 'five'}

In [317]:
Dict1.update(Dict2)
print("After update :",Dict1)
print("After update :",Dict2)

After update : {1: 'one', 2: 'two', 4: 'four', 5: 'five'}
After update : {2: 'two', 4: 'four', 5: 'five'}

In [318]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

people

{1: {'name': 'John', 'age': '27', 'sex': 'Male'},
 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [320]:
people[1]['age']

'27'

In [322]:
people[2]

{'name': 'Marie', 'age': '22', 'sex': 'Female'}

In [325]:
i = 100

if i > 25:
    print(i)

100

In [326]:
i = 10

if i > 25:
    print(i)
else:
    print(i, "lesser than 25")

10 lesser than 25

In [330]:
age = int(input("enter the value of age :"))

if age >= 18 :
    
    print("Eligible for voting!!!")
    
else:
    
    print("Not Eligible for voting!!!")

enter the value of age :2
Not Eligible for voting!!!

In [335]:
n = int(input("Enter a number: "))

if (n%2 == 0):
    print("This is an even number")
    
else:
    print("This is an odd number")

Enter a number: 10
This is an even number

In [332]:
n = int(input("Enter a number: "))
i = n % 2
if i < 1:
    print("This is an even number")
else:
    print("This is an odd number")

Enter a number: 9
This is an odd number

In [337]:
a = int(input("enter value of a  :"))
b = int(input("enter value of b  :"))

if ( a> b ):
    print("a is the biggested")
else:
    print("b is the biggested")

enter value of a  :10
enter value of b  :100
b is the biggested

In [338]:
unm = "GreatLearning"    
pwd ="Chennai"

In [341]:
if unm == "GreatLearning" and pwd == "Chennai" :
    print("Authentication suceeded!!!")
    
else:
    print("Authentication not successful!!!")

Authentication suceeded!!!

In [344]:
if (unm == "GreatLearning") & (pwd == "Chennai") :
    print("Authentication suceeded!!!")
    
else:
    print("Authentication not successful!!!")

Authentication suceeded!!!

In [347]:
a = int(input("enter value of a  :"))
b = int(input("enter value of b  :"))

if ( a> 0 and b >0 ):
    
    if ( a> b ):
        print("a is the biggested")
    else:
        print("b is the biggested")
        
else:
    
    print("enter the values of a and b greater than zero!!!")

enter value of a  :10
enter value of b  :20
b is the biggested

In [ ]:
if (unm == "GreatLearning") & (pwd == "Chennai") :
    print("Authentication suceeded!!!")
    
else:
    print("Authentication not successful!!!")

4

In [355]:
a , b, c  = 10,20,30

In [357]:
if( a > 0 and b >0 and c > 0):
    
    if (a > b and a> c):
        print("a is the greatest!!")
    elif (b>a and b> c) :
        print("b is the greatest!!")
    else:
        print("c is the greatest!!")
        
else:
    
    print("Enter the values of a,b and c greater than zero")

c is the greatest!!