# Loops:

### FOR LOOP

In [1]:
t =(1,2,3,4)
for i in t:
    print(i)

1
2
3
4

In [2]:
t =(1,2,3,4)
for i in t:
    print(t)

(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)

In [3]:
nm ='Great Learning'
nm = nm.replace(' ','')
for i in nm:
    print(i)

G
r
e
a
t
L
e
a
r
n
i
n
g

In [4]:
nm ='Great Learning'
nm = nm.replace(' ','')
nm = nm.upper()
for i in nm:
    print(i)

G
R
E
A
T
L
E
A
R
N
I
N
G

In [5]:
fruits=['apple','orange','banana','cherry']
for i in fruits:
    #s =i.title
    print(i.title())

Apple
Orange
Banana
Cherry

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(1,5):
    print(i*3)

3
6
9
12

In [8]:
for i in range(100,90,-2):
    print(i)

100
98
96
94
92

In [9]:
for i in range(80,69,-1):
    print(i)

80
79
78
77
76
75
74
73
72
71
70

In [10]:
n = int(input('which table?'))
for i in range(1,11):
    print('{}*{}  = {}'.format(i,n,i*n))

which table?5
1*5  = 5
2*5  = 10
3*5  = 15
4*5  = 20
5*5  = 25
6*5  = 30
7*5  = 35
8*5  = 40
9*5  = 45
10*5  = 50

In [11]:
numbers =[6,5,3,8,4,2,5,4,11,43]
sum1 =0
for i in numbers:
    sum1 = sum1+i
print(sum1)

91

In [12]:
sum(numbers)

91

In [13]:
numbers =[6,5,3,8,4,2,5,4,11,43]
sum1 =0
for i in numbers:
    sum1 += i
print(sum1)

91

In [14]:
numbers =[6,5,3,8,4,2,5,4,11,43]
sum1 =0
for i in numbers:
    sum1 += i
    print(sum1)

6
11
14
22
26
28
33
37
48
91

In [17]:
numbers =[6,5,3,8,4,2,5,4,11,43]
mul =1
for i in numbers:
    mul *= i
    print(mul)

6
30
90
720
2880
5760
28800
115200
1267200
54489600

In [20]:
n = int(input('enter'))
for i in range(1,11):
    print(i,'^',n ,'=', i**n)

enter5
1 ^ 5 = 1
2 ^ 5 = 32
3 ^ 5 = 243
4 ^ 5 = 1024
5 ^ 5 = 3125
6 ^ 5 = 7776
7 ^ 5 = 16807
8 ^ 5 = 32768
9 ^ 5 = 59049
10 ^ 5 = 100000

In [23]:
n = int(input('enter'))
for i in range(10,0,-1):
    print(i,'^',n ,'=', i**n)

enter5
10 ^ 5 = 100000
9 ^ 5 = 59049
8 ^ 5 = 32768
7 ^ 5 = 16807
6 ^ 5 = 7776
5 ^ 5 = 3125
4 ^ 5 = 1024
3 ^ 5 = 243
2 ^ 5 = 32
1 ^ 5 = 1

In [25]:
a_dict = {'color':'blue','fruit': 'apple', 'pet':'dog'}
print(a_dict.items())
print(a_dict.values())
print(a_dict.keys())

dict_items([('color', 'blue'), ('fruit', 'apple'), ('pet', 'dog')])
dict_values(['blue', 'apple', 'dog'])
dict_keys(['color', 'fruit', 'pet'])

In [27]:
for i,j in a_dict.items():
    print(i,j)

color blue
fruit apple
pet dog

In [29]:
for i in a_dict.keys():
    print(i)

color
fruit
pet

In [30]:
for i in a_dict.values():
    print(i)

blue
apple
dog

In [32]:
list1 =[]
for i in a_dict.keys():
    list1.append(i)
print(list1)

['color', 'fruit', 'pet']

In [33]:
list_of_list = [['great','learning','datascience'],[0,1,2],[9.9,8.8,7.7]]

for i in list_of_list:
    print(i)

['great', 'learning', 'datascience']
[0, 1, 2]
[9.9, 8.8, 7.7]

In [34]:
for i in list_of_list:   # for for outer
    for j in i:     # for loop for inner list
        print(j)

great
learning
datascience
0
1
2
9.9
8.8
7.7

In [35]:
adj =['red','big','tasty']
fruits =['apple','banana','cherry']
for i in adj:
    for j in fruits:
        print(i,j)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [36]:
list1 =[]
for i in range(1,101):
    if i%5==0 and i%7==0:
        list1.append(i)
print(list1)

[35, 70]

In [38]:
l1 =[]
l2 =[]

l = [1,2,3,4,5,6,7,8]
for i in l:
    if i%2==0:
        l1.append(i)
    else:
        l2.append(i)
print(l1)
print(l2)

[2, 4, 6, 8]
[1, 3, 5, 7]

In [43]:
sum1 =0
count=0
for i in range(555,1111):
    if i%7==0:
        sum1 += i
        count+=1
print(sum1)
print(count)

65807
79

In [45]:
wrd =['good','mom','morning','dad','great','wow','learning']
li1= []
li2 =[]
for i in wrd:
    if (i ==i[::-1]):
        li1.append(i)
    else:
        li2.append(i)
print(li1) 
print(li2)

['mom', 'dad', 'wow']
['good', 'morning', 'great', 'learning']

In [50]:
n = int(input('enter the number'))
ji =1

for i in range(1,n+1):
    ji *= i
print(ji)

enter the number10
3628800

In [51]:
n = int(input('enter the number'))
ji =1
if n <0:
    print('sry we cannot do this')
elif n==0:
    print('factorial of zero is 1')
else:
    
    for i in range(1,n+1):
        ji *= i
    print(ji)

enter the number5
120

In [52]:
for i in "greatlearning":
    if i =="i":
        break
    print(i)
print('end of the code')

g
r
e
a
t
l
e
a
r
n
end of the code

In [53]:
for i in "greatlearning":
    if i =="i":
        continue
    print(i)
print('end of the code')

g
r
e
a
t
l
e
a
r
n
n
g
end of the code

In [54]:
for x in range(110,116):
    print("value is ",x)
    if(x ==114):
        print('there is no match')
        continue

value is  110
value is  111
value is  112
value is  113
value is  114
there is no match
value is  115

In [69]:
ll1 =[]
ll2 =[]
for i in range(1,11):
    for j in range(2,i):
        if i%j ==0 :
            ll1.append()
    
        else:
            ll2.append()
        
            
            
print(ll2)

[2, 3, 2, 3, 4, 4, 5, 2, 3, 4, 5, 6, 3, 5, 6, 7, 2, 4, 5, 6, 7, 8, 3, 4, 6, 7, 8, 9]

In [ ]:
for i in range(1,5):
    i%1

In [85]:

num = int(input())

for j in range(2,num):
    if num%j ==0 :
        print('not prime')
        break
        
    
    else:
        print('prime')
        break

9
prime

In [106]:
notll1 =[]
ll2 =[]
for num in range(1,10):
    for j in range(2,num):
        if num%j ==0 :
            print('not prime',num)
            notll1.append(num)
            break
            break
        else:
            print('prime',num)
            ll2.append(num)
            break
            break
print(notll1)
print(ll2)

prime 3
not prime 4
prime 5
not prime 6
prime 7
not prime 8
prime 9
[4, 6, 8]
[3, 5, 7, 9]

In [123]:
notll1 =[]
ll2 =[]

for num in range(1,100):
    if num==2:
        for i in range(1,3):
            if num%i==0:
                ll2.append(num)
                break
                
    elif num==1:
        notll1.append(1)
        
    else:
        for j in range(2,num):
            if num%j ==0 :
                #print('not prime',num)
                notll1.append(num)
                break
                break
            else:
                #print('prime',num)
                ll2.append(num)
                break
                break
print('not prime',notll1)
print('prime',ll2)

not prime [1, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
prime [2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [125]:
x =0
while x<10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [126]:
x =0
while x<11:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9
10

In [129]:
nm = 'great learnings'
i =0
while i<=5:
    print(nm)
    i+=1

great learnings
great learnings
great learnings
great learnings
great learnings
great learnings

In [130]:
n=5
while n>0:
    print(n)
    n-=1

5
4
3
2
1

In [131]:
n=5

while n>=5 and n<11:
    print(n*n)
    n +=1

25
36
49
64
81
100

In [134]:
colors =['red','black','blue']
i=0
while i<len(colors):
    print(colors[i])
    i+=1

red
black
blue

In [157]:
n =5
i=1
sum1 =0
while (i<=5 and i>0):
    sum1 =sum1+ i
    
    
    i+=1
    
print(sum1)

15

In [156]:
n =5
i=1
prod =1
while (i<=5 and i>0):
    prod =prod* i
    
    
    i+=1
    
print(prod)

120

In [158]:
n= 5
while n>0:
    n-=1
    if n==2:
        break
    print(n)
print('loop ended')

4
3
loop ended

In [160]:
n= 5
while n>0:
    n-=1
    if n==2:
        print('--------')
        continue
    print(n)
print('loop ended')

4
3
--------
1
0
loop ended

In [161]:
c =0
while(1):
    print(c)
    c +=1
    if c>=5:
        break

0
1
2
3
4

In [165]:
l1 = [ i for i in range(1,10) ]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [166]:
l1 = [ i*i for i in range(1,6) ]
l1

[1, 4, 9, 16, 25]

In [169]:
l1 = [ i for i in range(1,17) if i%2==0 ]
l1

[2, 4, 6, 8, 10, 12, 14, 16]

In [170]:
l1 = [ i for i in range(1,100) if (i%5==0 and i%7==0)]
l1

[35, 70]

In [172]:
[(i,j) for i in range(1,6) for j in range(6,11)]

[(1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (1, 10),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (2, 10),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (3, 10),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (4, 10),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (5, 10)]

In [173]:
adj = ['red','big','tasty']
fruits =['apple','banana','cherry']
[(i,j) for i in adj for j in fruits ]

[('red', 'apple'),
 ('red', 'banana'),
 ('red', 'cherry'),
 ('big', 'apple'),
 ('big', 'banana'),
 ('big', 'cherry'),
 ('tasty', 'apple'),
 ('tasty', 'banana'),
 ('tasty', 'cherry')]

In [175]:
letters =['a','b','c','d']
for i in letters:
    i =i.upper()    
    print(i)

A
B
C
D

In [176]:
[j.upper() for j in letters]

['A', 'B', 'C', 'D']

In [177]:
 for i in range(1,27):
        for j in range(65,65+i):
            a =chr(j)
            print(a,end='')
        print()

A
AB
ABC
ABCD
ABCDE
ABCDEF
ABCDEFG
ABCDEFGH
ABCDEFGHI
ABCDEFGHIJ
ABCDEFGHIJK
ABCDEFGHIJKL
ABCDEFGHIJKLM
ABCDEFGHIJKLMN
ABCDEFGHIJKLMNO
ABCDEFGHIJKLMNOP
ABCDEFGHIJKLMNOPQ
ABCDEFGHIJKLMNOPQR
ABCDEFGHIJKLMNOPQRS
ABCDEFGHIJKLMNOPQRST
ABCDEFGHIJKLMNOPQRSTU
ABCDEFGHIJKLMNOPQRSTUV
ABCDEFGHIJKLMNOPQRSTUVW
ABCDEFGHIJKLMNOPQRSTUVWX
ABCDEFGHIJKLMNOPQRSTUVWXY
ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [182]:
[[chr(j) ] for i in range(1,27) for j in range(65,65+i)]

['A',
 'A',
 'B',
 'A',
 'B',
 'C',
 'A',
 'B',
 'C',
 'D',
 'A',
 'B',
 'C',
 'D',
 'E',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [193]:
for i in range(1,10):
    for j in range(10,0,-1):
        print(' '*j+'*'*i+ '*'*j)

          ***********
         **********
        *********
       ********
      *******
     ******
    *****
   ****
  ***
 **
          ************
         ***********
        **********
       *********
      ********
     *******
    ******
   *****
  ****
 ***
          *************
         ************
        ***********
       **********
      *********
     ********
    *******
   ******
  *****
 ****
          **************
         *************
        ************
       ***********
      **********
     *********
    ********
   *******
  ******
 *****
          ***************
         **************
        *************
       ************
      ***********
     **********
    *********
   ********
  *******
 ******
          ****************
         ***************
        **************
       *************
      ************
     ***********
    **********
   *********
  ********
 *******
          *****************
         ****************
        ***************
       **************
      *************
     ************
    ***********
   **********
  *********
 ********
          ******************
         *****************
        ****************
       ***************
      **************
     *************
    ************
   ***********
  **********
 *********
          *******************
         ******************
        *****************
       ****************
      ***************
     **************
    *************
   ************
  ***********
 **********