# Linear Regression

In [114]:
import pandas as pd 
import numpy as np

In [115]:
ld_train= pd.read_csv(r'C:\Users\SRK\Desktop\siva_python\Regression\day4\loan_data_train.csv')
ld_test= pd.read_csv(r'C:\Users\SRK\Desktop\siva_python\Regression\day4\loan_data_test.csv')

In [116]:
ld_test.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years

In [117]:
ld_train.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [118]:
# lets combine the data for data prep

ld_test['Interest.Rate']=np.nan
ld_train['data']='train'
ld_test['data']='test'
ld_test=ld_test[ld_train.columns]
ld_all=pd.concat([ld_train,ld_test],axis=0)

In [119]:
ld_all.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train

In [120]:
ld_all.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [121]:
# ID,Amount.Funded.By.Investors : drop 
# Interest Rate , Debt to income ratio : remove % and then to numeric
# Amount.Requested , 'Open.CREDIT.Lines','Revolving.CREDIT.Balance': convert it to numeric 
# FICO.Range : replace it by a numeric column which is average of the range
# Employment Length : convert to number
# Loan Lenth, Loan Purpose , State , Home ownership: dummies for categories with good occurence rate

In [122]:
ld_all.drop(['ID','Amount.Funded.By.Investors'],axis=1,inplace=True)

In [123]:
for col in ['Interest.Rate','Debt.To.Income.Ratio']:
    ld_all[col]=ld_all[col].str.replace("%","")

In [124]:
for col in ['Amount.Requested', 'Interest.Rate','Debt.To.Income.Ratio',
            'Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    ld_all[col]=pd.to_numeric(ld_all[col],errors='coerce')

In [125]:
k=ld_all['FICO.Range'].str.split("-",expand=True).astype(float)

ld_all['fico']=0.5*(k[0]+k[1])

del ld_all['FICO.Range']

In [126]:
ld_all['Employment.Length'].value_counts()

10+ years    653
< 1 year     249
2 years      243
3 years      235
5 years      202
4 years      191
1 year       177
6 years      163
7 years      127
8 years      108
9 years       72
.              2
Name: Employment.Length, dtype: int64

In [127]:
ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('years',"")

ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('year',"")

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[:2]=="10",10,ld_all['Employment.Length'])

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[0]=="<",0,ld_all['Employment.Length'])

ld_all['Employment.Length']=pd.to_numeric(ld_all['Employment.Length'],errors='coerce')

In [128]:
# Notice that to apply string function on pandas data frame columns you need to str attribute
cat_cols=ld_all.select_dtypes(['object']).columns

In [129]:
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership', 'data'], dtype='object')

In [130]:
cat_cols=cat_cols[:-1]

In [131]:
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

In [132]:
ld_all.head()

,Amount.Requested,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data,fico
0,25000.0,18.49,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,11.0,15210.0,3.0,5.0,train,722.0
1,19750.0,17.27,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,14.0,19070.0,3.0,4.0,train,712.0
2,2100.0,14.33,36 months,major_purchase,3.50,LA,OWN,1000.00,13.0,893.0,1.0,0.0,train,692.0
3,28000.0,16.29,36 months,credit_card,19.62,NV,MORTGAGE,7083.33,12.0,38194.0,1.0,10.0,train,712.0
4,24250.0,12.23,60 months,credit_card,23.79,OH,MORTGAGE,5833.33,6.0,31061.0,2.0,10.0,train,732.0

In [133]:
# you can use following method if you want to ignore categories with too low frequencies ,
#in next section for logistic regression we will be using  pandas' get dummies function. 
# you can work with either of these . 
#ignoring categories with low frequencies however will result in fewer columns without 
# affecting model performance too much .

for col in cat_cols:
    print(col)
    print('--------------')
    freqs=ld_all[col].value_counts()
    print(freqs)
    print('--------------')
    k=freqs.index[freqs>20][:]
    print(k)
    print('--------------')
    for cat in k:
        print(cat)
        print('--------------')
        name=col+'_'+cat
        print(name)
        print('--------------')
        ld_all[name]=(ld_all[col]==cat).astype(int)
    del ld_all[col]
    print(col)
    print('--------------')
    print('--------------')

Loan.Length
--------------
36 months    1950
60 months     548
.               1
Name: Loan.Length, dtype: int64
--------------
Index(['36 months', '60 months'], dtype='object')
--------------
36 months
--------------
Loan.Length_36 months
--------------
60 months
--------------
Loan.Length_60 months
--------------
Loan.Length
--------------
--------------
Loan.Purpose
--------------
debt_consolidation    1307
credit_card            444
other                  200
home_improvement       152
major_purchase         101
small_business          87
car                     50
wedding                 39
medical                 30
moving                  29
vacation                21
house                   20
educational             15
renewable_energy         4
Name: Loan.Purpose, dtype: int64
--------------
Index(['debt_consolidation', 'credit_card', 'other', 'home_improvement',
       'major_purchase', 'small_business', 'car', 'wedding', 'medical',
       'moving', 'vacation'],
      dtype='object')
--------------
debt_consolidation
--------------
Loan.Purpose_debt_consolidation
--------------
credit_card
--------------
Loan.Purpose_credit_card
--------------
other
--------------
Loan.Purpose_other
--------------
home_improvement
--------------
Loan.Purpose_home_improvement
--------------
major_purchase
--------------
Loan.Purpose_major_purchase
--------------
small_business
--------------
Loan.Purpose_small_business
--------------
car
--------------
Loan.Purpose_car
--------------
wedding
--------------
Loan.Purpose_wedding
--------------
medical
--------------
Loan.Purpose_medical
--------------
moving
--------------
Loan.Purpose_moving
--------------
vacation
--------------
Loan.Purpose_vacation
--------------
Loan.Purpose
--------------
--------------
State
--------------
CA    433
NY    255
TX    174
FL    169
IL    101
GA     97
PA     96
NJ     94
VA     78
MA     73
OH     71
MD     68
NC     64
CO     61
WA     58
CT     50
AZ     46
MI     45
AL     38
MN     38
MO     33
NV     32
OR     30
SC     28
WI     26
KY     23
LA     22
KS     21
OK     21
UT     16
RI     15
NH     15
WV     14
NM     13
AR     13
HI     12
AK     11
DC     11
DE      8
MT      7
VT      5
SD      4
WY      4
IN      3
IA      1
.       1
MS      1
Name: State, dtype: int64
--------------
Index(['CA', 'NY', 'TX', 'FL', 'IL', 'GA', 'PA', 'NJ', 'VA', 'MA', 'OH', 'MD',
       'NC', 'CO', 'WA', 'CT', 'AZ', 'MI', 'AL', 'MN', 'MO', 'NV', 'OR', 'SC',
       'WI', 'KY', 'LA', 'KS', 'OK'],
      dtype='object')
--------------
CA
--------------
State_CA
--------------
NY
--------------
State_NY
--------------
TX
--------------
State_TX
--------------
FL
--------------
State_FL
--------------
IL
--------------
State_IL
--------------
GA
--------------
State_GA
--------------
PA
--------------
State_PA
--------------
NJ
--------------
State_NJ
--------------
VA
--------------
State_VA
--------------
MA
--------------
State_MA
--------------
OH
--------------
State_OH
--------------
MD
--------------
State_MD
--------------
NC
--------------
State_NC
--------------
CO
--------------
State_CO
--------------
WA
--------------
State_WA
--------------
CT
--------------
State_CT
--------------
AZ
--------------
State_AZ
--------------
MI
--------------
State_MI
--------------
AL
--------------
State_AL
--------------
MN
--------------
State_MN
--------------
MO
--------------
State_MO
--------------
NV
--------------
State_NV
--------------
OR
--------------
State_OR
--------------
SC
--------------
State_SC
--------------
WI
--------------
State_WI
--------------
KY
--------------
State_KY
--------------
LA
--------------
State_LA
--------------
KS
--------------
State_KS
--------------
OK
--------------
State_OK
--------------
State
--------------
--------------
Home.Ownership
--------------
MORTGAGE    1147
RENT        1146
OWN          200
OTHER          5
NONE           1
Name: Home.Ownership, dtype: int64
--------------
Index(['MORTGAGE', 'RENT', 'OWN'], dtype='object')
--------------
MORTGAGE
--------------
Home.Ownership_MORTGAGE
--------------
RENT
--------------
Home.Ownership_RENT
--------------
OWN
--------------
Home.Ownership_OWN
--------------
Home.Ownership
--------------
--------------

In [68]:
ld_all.shape

(2500, 51)

In [69]:
ld_all.isnull().sum()

Amount.Requested                     5
Interest.Rate                      300
Debt.To.Income.Ratio                 1
Monthly.Income                       3
Open.CREDIT.Lines                    9
Revolving.CREDIT.Balance             5
Inquiries.in.the.Last.6.Months       3
Employment.Length                   80
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [70]:
for col in ld_all.columns:
    if (col not in ['Interest.Rate','data'])& (ld_all[col].isnull().sum()>0):
        ld_all.loc[ld_all[col].isnull(),col]=ld_all.loc[ld_all['data']=='train',col].mean()

In [71]:
ld_all.isnull().sum()

Amount.Requested                     0
Interest.Rate                      300
Debt.To.Income.Ratio                 0
Monthly.Income                       0
Open.CREDIT.Lines                    0
Revolving.CREDIT.Balance             0
Inquiries.in.the.Last.6.Months       0
Employment.Length                    0
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [72]:
ld_train=ld_all[ld_all['data']=='train']
del ld_train['data']
ld_test=ld_all[ld_all['data']=='test']
ld_test.drop(['Interest.Rate','data'],axis=1,inplace=True)

C:\Users\SRK\Anaconda3\lib\site-packages\pandas\core\frame.py:3994: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [73]:
del ld_all

In [74]:
from sklearn.model_selection import train_test_split

In [75]:
ld_train1,ld_train2=train_test_split(ld_train,test_size=0.2,random_state=2)

In [76]:
# Notice that only train data is used for imputing missing values in both train and test 

x_train1=ld_train1.drop('Interest.Rate',axis=1)
y_train1=ld_train1['Interest.Rate']

In [77]:
from sklearn.linear_model import LinearRegression

In [78]:
lm=LinearRegression()

In [79]:
lm.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [80]:
x_train1.shape

(1760, 49)

In [81]:
lm.intercept_

75.92121413594822

In [82]:
list(zip(x_train1.columns,lm.coef_))

[('Amount.Requested', 0.00015602405153877194),
 ('Debt.To.Income.Ratio', -0.003938504173777325),
 ('Monthly.Income', -2.6568573569302344e-05),
 ('Open.CREDIT.Lines', -0.039922608340241916),
 ('Revolving.CREDIT.Balance', -3.923647858838919e-06),
 ('Inquiries.in.the.Last.6.Months', 0.3361172111313293),
 ('Employment.Length', 0.0349936718945103),
 ('fico', -0.08667701121950772),
 ('Loan.Length_36 months', -3.14374724695059),
 ('Loan.Purpose_debt_consolidation', -0.4673935690355955),
 ('Loan.Purpose_credit_card', -0.6069873604061793),
 ('Loan.Purpose_other', 0.44417142270192844),
 ('Loan.Purpose_home_improvement', -0.3611899849181427),
 ('Loan.Purpose_major_purchase', -0.09589524932665855),
 ('Loan.Purpose_small_business', 0.06800548772823725),
 ('Loan.Purpose_car', 0.0252596280360127),
 ('Loan.Purpose_wedding', -0.7791542650056459),
 ('Loan.Purpose_medical', -0.4281152109954977),
 ('Loan.Purpose_moving', 1.2845276544595712),
 ('State_CA', -0.21159715256759132),
 ('State_NY', -0.12777976346385994),
 ('State_TX', 0.46565199969690396),
 ('State_FL', 0.08536509194007777),
 ('State_IL', -0.6478521077890989),
 ('State_GA', -0.02871523268342424),
 ('State_PA', -0.5531491923550238),
 ('State_NJ', -0.4252715824292975),
 ('State_VA', -0.1900182794302408),
 ('State_MA', 0.090320340363167),
 ('State_OH', -0.3613940340219993),
 ('State_MD', -0.016614796909707408),
 ('State_NC', -0.30125204925156274),
 ('State_CO', -0.05643938739112127),
 ('State_WA', -0.24431943682020274),
 ('State_CT', 0.44506590679109903),
 ('State_AZ', 0.2647218526843687),
 ('State_MI', -0.15816583557369668),
 ('State_AL', -0.32176623527151577),
 ('State_MN', -0.07658290397396379),
 ('State_MO', -0.4320941840325292),
 ('State_NV', -0.12433340941261017),
 ('State_OR', 0.12024829459476216),
 ('State_SC', 0.024771345260439948),
 ('State_WI', -0.16506920267021127),
 ('State_KY', 0.26922860325685133),
 ('State_LA', -0.04879687995185669),
 ('State_KS', 0.24424291796448594),
 ('Home.Ownership_MORTGAGE', -0.4927899396352776),
 ('Home.Ownership_RENT', -0.22835804629261114)]

In [83]:
x_train2=ld_train2.drop('Interest.Rate',axis=1)

In [84]:
predicted_ir=lm.predict(x_train2)

In [85]:
from sklearn.metrics import mean_absolute_error

In [86]:
mean_absolute_error(ld_train2['Interest.Rate'],predicted_ir)

1.6278267948887524

We know the tentative performance now, lets build the model on entire training to make prediction on test/production

In [87]:
x_train=ld_train.drop('Interest.Rate',axis=1)
y_train=ld_train['Interest.Rate']

In [88]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [89]:
test_pred=lm.predict(ld_test)

We can write these to a csv file for submission like this :

In [90]:
pd.DataFrame(test_pred).to_csv("F:/mysubmission.csv",index=False)

# Ridge  Regression

In [91]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [92]:
lambdas=np.linspace(1,100,100)

In [93]:
params={'alpha':lambdas}

In [94]:
model=Ridge(fit_intercept=True)

In [95]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [96]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35....,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [97]:
grid_search.best_estimator_

Ridge(alpha=34.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [ ]:
grid_search.

In [98]:
grid_search.cv_results_

{'mean_fit_time': array([0.06046596, 0.01649129, 0.01799157, 0.0192889 , 0.01539314,
        0.01029379, 0.01019437, 0.00989537, 0.01399422, 0.01449409,
        0.01039419, 0.00939589, 0.01289358, 0.01399286, 0.01039457,
        0.01469321, 0.01639132, 0.01089618, 0.01349385, 0.01099491,
        0.01339283, 0.01589255, 0.0179915 , 0.01079483, 0.01069424,
        0.01369212, 0.01429305, 0.01699142, 0.01389434, 0.01099436,
        0.01259363, 0.01439278, 0.01279435, 0.01729043, 0.01419301,
        0.01509109, 0.01339302, 0.01039622, 0.0108947 , 0.01369321,
        0.01279335, 0.01099405, 0.01429217, 0.01559126, 0.01569076,
        0.01169562, 0.0108937 , 0.01079471, 0.01298964, 0.01329176,
        0.01329226, 0.0100955 , 0.01249321, 0.01219368, 0.01179416,
        0.01169395, 0.01069486, 0.01339312, 0.01169319, 0.00959549,
        0.01199243, 0.01749005, 0.02528481, 0.01409202, 0.01389227,
        0.0196902 , 0.01019373, 0.01908879, 0.01299343, 0.01799068,
        0.01109395, 0.01719067, 0.01669178, 0.01829014, 0.01269357,
        0.01589103, 0.01319323, 0.01948988, 0.01679189, 0.01319292,
        0.01548963, 0.02328806, 0.01689224, 0.0110949 , 0.01079385,
        0.01259296, 0.01419179, 0.02238805, 0.01949084, 0.01998951,
        0.01079547, 0.01099474, 0.01669252, 0.01339288, 0.01029453,
        0.01159363, 0.01279314, 0.01329427, 0.01639068, 0.0102952 ]),
 'std_fit_time': array([0.13142878, 0.00200999, 0.00199875, 0.00517463, 0.00313482,
        0.00219136, 0.00188653, 0.00186801, 0.00227959, 0.00233306,
        0.00219747, 0.00101965, 0.0023409 , 0.00481275, 0.00180001,
        0.01009432, 0.0065099 , 0.00144433, 0.00215324, 0.00223513,
        0.00210591, 0.00456786, 0.00399893, 0.00166112, 0.00178903,
        0.00236706, 0.00300133, 0.00549171, 0.00323646, 0.00227904,
        0.00297119, 0.00272636, 0.00203763, 0.00593083, 0.00271126,
        0.0030127 , 0.00341055, 0.00156242, 0.00254623, 0.00462438,
        0.0033392 , 0.00236523, 0.00734546, 0.00228766, 0.00421805,
        0.00232418, 0.00202107, 0.00132546, 0.00167626, 0.00134526,
        0.00381996, 0.00175759, 0.00392734, 0.00256092, 0.00231433,
        0.00306485, 0.00228013, 0.00410071, 0.00325617, 0.0014278 ,
        0.00299871, 0.00429261, 0.01225562, 0.00555564, 0.00480354,
        0.00303281, 0.00139943, 0.00999882, 0.00306419, 0.0030963 ,
        0.00197103, 0.00218034, 0.00447098, 0.00601335, 0.00357669,
        0.00425127, 0.00550764, 0.01551733, 0.00537813, 0.00292381,
        0.00369241, 0.00913786, 0.00372526, 0.00338749, 0.00259745,
        0.00303795, 0.00566756, 0.01592334, 0.004634  , 0.0026065 ,
        0.00183317, 0.00260576, 0.00669044, 0.00224271, 0.00179019,
        0.00249675, 0.00177684, 0.00118675, 0.00377198, 0.00178991]),
 'mean_score_time': array([0.00549691, 0.00499661, 0.00579569, 0.00589728, 0.00479589,
        0.00339799, 0.00299754, 0.00389631, 0.00419555, 0.00489576,
        0.00339761, 0.00319712, 0.00469639, 0.00339732, 0.00359747,
        0.00389695, 0.00519612, 0.00329826, 0.00409689, 0.00329697,
        0.00399706, 0.00459635, 0.00559428, 0.00299699, 0.00379622,
        0.00469782, 0.00449679, 0.00639484, 0.00439541, 0.00369842,
        0.00419722, 0.0047966 , 0.00429673, 0.0050971 , 0.00419607,
        0.00509779, 0.00429704, 0.0033957 , 0.00429702, 0.00419648,
        0.0041971 , 0.00359685, 0.00509715, 0.00469615, 0.00519743,
        0.00369539, 0.00379775, 0.00339694, 0.00429847, 0.00459709,
        0.00469899, 0.00339673, 0.0035969 , 0.00459602, 0.00369697,
        0.00399742, 0.00359704, 0.00379658, 0.00399709, 0.0030977 ,
        0.00379803, 0.0052964 , 0.00759633, 0.00519717, 0.00579534,
        0.00719507, 0.00369835, 0.00799537, 0.00349698, 0.00819511,
        0.00449672, 0.00559618, 0.00579631, 0.00739677, 0.00379746,
        0.0055969 , 0.00379717, 0.00479643, 0.00529594, 0.00369735,
        0.00499716, 0.00759513, 0.00609462, 0.00389791, 0.00319808,
        0.00449679, 0.00379715, 0.00459623, 0.0069942 , 0.00549548,
        0.0031971 , 0.00369658, 0.00528789, 0.00509665, 0.00379732,
        0.00359833, 0.00389707, 0.00309687, 0.00489709, 0.00349748]),
 'std_score_time': array([0.0006714 , 0.00063166, 0.00188551, 0.00175907, 0.00116642,
        0.0008008 , 0.00109452, 0.00129867, 0.0012479 , 0.00157826,
        0.00111309, 0.00059981, 0.00189877, 0.00111227, 0.00101938,
        0.00130017, 0.00256025, 0.00100352, 0.00113465, 0.00063982,
        0.00141436, 0.00142722, 0.00142878, 0.00063264, 0.00139834,
        0.00126935, 0.00120331, 0.00185272, 0.00135474, 0.00127013,
        0.00165972, 0.00171982, 0.00109902, 0.00157713, 0.00146951,
        0.00157693, 0.00141775, 0.00049011, 0.00189956, 0.00116513,
        0.0010766 , 0.00111192, 0.00129874, 0.00100536, 0.00274848,
        0.00126727, 0.00159934, 0.00079983, 0.00089949, 0.00190719,
        0.00195008, 0.00079976, 0.00119897, 0.00119979, 0.00100685,
        0.00099936, 0.00127895, 0.00193856, 0.00134094, 0.00083008,
        0.00139998, 0.00228116, 0.00329061, 0.00285648, 0.0025202 ,
        0.00339757, 0.00110035, 0.00534524, 0.00092124, 0.00414101,
        0.00196156, 0.00329027, 0.00231521, 0.0032926 , 0.00139993,
        0.00290322, 0.00165897, 0.00282053, 0.0020509 , 0.00148604,
        0.00232297, 0.00261611, 0.00250673, 0.00130048, 0.00116591,
        0.00174498, 0.00097952, 0.00111196, 0.00376622, 0.0014993 ,
        0.00074915, 0.00141725, 0.00288207, 0.0013008 , 0.00124921,
        0.00135725, 0.00192031, 0.00069989, 0.00121952, 0.00049995]),
 'param_alpha': masked_array(data=[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0,
                    11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
                    20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0,
                    29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0,
                    38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0,
                    47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
                    56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0,
                    65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0,
                    74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0,
                    83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0,
                    92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1.0},
  {'alpha': 2.0},
  {'alpha': 3.0},
  {'alpha': 4.0},
  {'alpha': 5.0},
  {'alpha': 6.0},
  {'alpha': 7.0},
  {'alpha': 8.0},
  {'alpha': 9.0},
  {'alpha': 10.0},
  {'alpha': 11.0},
  {'alpha': 12.0},
  {'alpha': 13.0},
  {'alpha': 14.0},
  {'alpha': 15.0},
  {'alpha': 16.0},
  {'alpha': 17.0},
  {'alpha': 18.0},
  {'alpha': 19.0},
  {'alpha': 20.0},
  {'alpha': 21.0},
  {'alpha': 22.0},
  {'alpha': 23.0},
  {'alpha': 24.0},
  {'alpha': 25.0},
  {'alpha': 26.0},
  {'alpha': 27.0},
  {'alpha': 28.0},
  {'alpha': 29.0},
  {'alpha': 30.0},
  {'alpha': 31.0},
  {'alpha': 32.0},
  {'alpha': 33.0},
  {'alpha': 34.0},
  {'alpha': 35.0},
  {'alpha': 36.0},
  {'alpha': 37.0},
  {'alpha': 38.0},
  {'alpha': 39.0},
  {'alpha': 40.0},
  {'alpha': 41.0},
  {'alpha': 42.0},
  {'alpha': 43.0},
  {'alpha': 44.0},
  {'alpha': 45.0},
  {'alpha': 46.0},
  {'alpha': 47.0},
  {'alpha': 48.0},
  {'alpha': 49.0},
  {'alpha': 50.0},
  {'alpha': 51.0},
  {'alpha': 52.0},
  {'alpha': 53.0},
  {'alpha': 54.0},
  {'alpha': 55.0},
  {'alpha': 56.0},
  {'alpha': 57.0},
  {'alpha': 58.0},
  {'alpha': 59.0},
  {'alpha': 60.0},
  {'alpha': 61.0},
  {'alpha': 62.0},
  {'alpha': 63.0},
  {'alpha': 64.0},
  {'alpha': 65.0},
  {'alpha': 66.0},
  {'alpha': 67.0},
  {'alpha': 68.0},
  {'alpha': 69.0},
  {'alpha': 70.0},
  {'alpha': 71.0},
  {'alpha': 72.0},
  {'alpha': 73.0},
  {'alpha': 74.0},
  {'alpha': 75.0},
  {'alpha': 76.0},
  {'alpha': 77.0},
  {'alpha': 78.0},
  {'alpha': 79.0},
  {'alpha': 80.0},
  {'alpha': 81.0},
  {'alpha': 82.0},
  {'alpha': 83.0},
  {'alpha': 84.0},
  {'alpha': 85.0},
  {'alpha': 86.0},
  {'alpha': 87.0},
  {'alpha': 88.0},
  {'alpha': 89.0},
  {'alpha': 90.0},
  {'alpha': 91.0},
  {'alpha': 92.0},
  {'alpha': 93.0},
  {'alpha': 94.0},
  {'alpha': 95.0},
  {'alpha': 96.0},
  {'alpha': 97.0},
  {'alpha': 98.0},
  {'alpha': 99.0},
  {'alpha': 100.0}],
 'split0_test_score': array([-1.72358138, -1.72420643, -1.72488332, -1.72551715, -1.72611705,
        -1.726689  , -1.72724387, -1.72782936, -1.72839732, -1.72896669,
        -1.72954587, -1.7301274 , -1.73070845, -1.73127717, -1.7318344 ,
        -1.7323809 , -1.73291734, -1.73344429, -1.7339623 , -1.73447182,
        -1.73497329, -1.73546709, -1.73595358, -1.73643308, -1.73690589,
        -1.73737227, -1.73783249, -1.73828676, -1.73873531, -1.73917834,
        -1.73961603, -1.74004856, -1.7405097 , -1.74104459, -1.74159538,
        -1.74214058, -1.74268031, -1.74321473, -1.74374395, -1.74432305,
        -1.74501456, -1.74570004, -1.7463796 , -1.74705336, -1.74772141,
        -1.74838387, -1.74904083, -1.74969239, -1.75035082, -1.75101435,
        -1.75167244, -1.7523252 , -1.75299962, -1.75367457, -1.75434372,
        -1.75500719, -1.75566506, -1.75631744, -1.75696443, -1.75760612,
        -1.7582426 , -1.75887395, -1.75950025, -1.7601216 , -1.760746  ,
        -1.76139675, -1.76204251, -1.76268335, -1.76331934, -1.76395894,
        -1.76460774, -1.76525171, -1.76589091, -1.76652542, -1.76715531,
        -1.76778063, -1.7684233 , -1.76906158, -1.76969529, -1.77032448,
        -1.77094921, -1.77156954, -1.77218554, -1.77279726, -1.77340474,
        -1.77400806, -1.77460725, -1.77520238, -1.77579348, -1.77638062,
        -1.77696383, -1.77754318, -1.77811869, -1.77869043, -1.77925842,
        -1.77982273, -1.78038338, -1.78094043, -1.78149391, -1.78204386]),
 'split1_test_score': array([-1.76219454, -1.75903763, -1.75623933, -1.75395455, -1.75197626,
        -1.75017074, -1.74845623, -1.746826  , -1.74527378, -1.74387719,
        -1.74258427, -1.74135105, -1.74017328, -1.73904709, -1.73796896,
        -1.73693568, -1.73594433, -1.73510332, -1.73429931, -1.73357746,
        -1.73289635, -1.73224239, -1.73161399, -1.73100966, -1.73042804,
        -1.72986788, -1.72932798, -1.72880728, -1.72830475, -1.72781947,
        -1.72735055, -1.72689718, -1.72645858, -1.72603406, -1.72564093,
        -1.72527274, -1.7249398 , -1.72461788, -1.72430649, -1.72400516,
        -1.72371345, -1.72343094, -1.72315723, -1.72289196, -1.72263477,
        -1.72238533, -1.72214332, -1.72190844, -1.72168042, -1.72145899,
        -1.72124388, -1.72103486, -1.7208317 , -1.72063418, -1.72044209,
        -1.72025524, -1.72007342, -1.71989647, -1.71972421, -1.71955648,
        -1.71939312, -1.71923399, -1.71907893, -1.71892781, -1.7187805 ,
        -1.71865008, -1.71853846, -1.71842992, -1.71832436, -1.71822169,
        -1.71812181, -1.71802463, -1.71793006, -1.71783802, -1.71774842,
        -1.71766119, -1.71757625, -1.71749353, -1.71741297, -1.71734177,
        -1.71730113, -1.71726236, -1.71722538, -1.71719015, -1.7171566 ,
        -1.71715105, -1.71719037, -1.71723934, -1.71728928, -1.71734015,
        -1.71739192, -1.71744454, -1.71749799, -1.71755222, -1.7176072 ,
        -1.71766291, -1.71771931, -1.71777637, -1.71786817, -1.71797334]),
 'split2_test_score': array([-1.77797477, -1.77545201, -1.77326532, -1.77140267, -1.76974652,
        -1.7682434 , -1.76692394, -1.76642358, -1.76597837, -1.76557934,
        -1.76521963, -1.76489384, -1.76459764, -1.76432751, -1.76408054,
        -1.76385429, -1.76364669, -1.76345597, -1.7632806 , -1.76311926,
        -1.76297077, -1.76283411, -1.76271385, -1.76263464, -1.76256404,
        -1.76250145, -1.76244628, -1.76239803, -1.76235624, -1.76232047,
        -1.76229035, -1.76226552, -1.76224565, -1.76223044, -1.76221961,
        -1.76221291, -1.7622101 , -1.76221095, -1.76221527, -1.76222286,
        -1.76223353, -1.76232306, -1.76248036, -1.76263832, -1.76279686,
        -1.76300679, -1.76324751, -1.76348786, -1.7637278 , -1.76397226,
        -1.76421705, -1.76446119, -1.76470463, -1.76494736, -1.76518935,
        -1.76543058, -1.76567103, -1.76591068, -1.76614951, -1.76639077,
        -1.76665418, -1.766939  , -1.76723854, -1.76753889, -1.76788217,
        -1.76824165, -1.76859917, -1.76895474, -1.76930837, -1.76966007,
        -1.77000984, -1.7703577 , -1.77070365, -1.77106568, -1.77143949,
        -1.77181079, -1.77217962, -1.77254599, -1.77290994, -1.7732715 ,
        -1.77363069, -1.77398755, -1.77434209, -1.77469435, -1.77504436,
        -1.77539213, -1.77573769, -1.77608108, -1.7764223 , -1.77676138,
        -1.77709836, -1.77743324, -1.77776606, -1.77809683, -1.77842557,
        -1.77875232, -1.77907708, -1.77939988, -1.77972074, -1.78003968]),
 'split3_test_score': array([-1.64840333, -1.64735435, -1.64655986, -1.64619483, -1.64586451,
        -1.64557283, -1.64530576, -1.64505448, -1.64481599, -1.64458809,
        -1.6444109 , -1.64426518, -1.64412587, -1.6439922 , -1.64386355,
        -1.64373941, -1.64361935, -1.64351967, -1.64342615, -1.64337521,
        -1.64332944, -1.64328551, -1.64324324, -1.6432025 , -1.64316317,
        -1.64312513, -1.64308829, -1.64305255, -1.64301784, -1.64298408,
        -1.64295121, -1.64291916, -1.64288789, -1.64285734, -1.64282747,
        -1.64279824, -1.64276961, -1.64274153, -1.64271398, -1.64268694,
        -1.64266329, -1.64265498, -1.6426481 , -1.64264165, -1.6426356 ,
        -1.64262993, -1.64262461, -1.64261964, -1.64261498, -1.64261062,
        -1.64262829, -1.64265714, -1.64268588, -1.6427145 , -1.642743  ,
        -1.64277136, -1.64279958, -1.64282766, -1.64285559, -1.64288337,
        -1.642911  , -1.64293848, -1.6429658 , -1.64302244, -1.64309874,
        -1.64318636, -1.64327337, -1.64335979, -1.64344562, -1.64353086,
        -1.64361551, -1.6436996 , -1.64378311, -1.64386605, -1.64394844,
        -1.64403028, -1.64411156, -1.64419231, -1.64428089, -1.64440206,
        -1.64452247, -1.64467497, -1.64483078, -1.64498848, -1.64514518,
        -1.64531965, -1.64551207, -1.64570335, -1.64590423, -1.6461169 ,
        -1.64632837, -1.64653867, -1.64674781, -1.64695578, -1.64716261,
        -1.64736831, -1.64757287, -1.64777632, -1.64797866, -1.6481799 ]),
 'split4_test_score': array([-1.4528175 , -1.45170879, -1.45056942, -1.44942369, -1.4482914 ,
        -1.44718246, -1.44610168, -1.44505108, -1.44403112, -1.44308012,
        -1.44218434, -1.44134568, -1.44053185, -1.43976574, -1.43906924,
        -1.43839255, -1.43773462, -1.43709499, -1.4364791 , -1.43587933,
        -1.43529483, -1.43472779, -1.43417625, -1.43363783, -1.43311916,
        -1.4326922 , -1.4322759 , -1.43187156, -1.43152853, -1.43120134,
        -1.43088216, -1.4305706 , -1.43031318, -1.43007317, -1.4298396 ,
        -1.42961217, -1.42939059, -1.4291746 , -1.42896395, -1.42877128,
        -1.42859544, -1.42842363, -1.42825568, -1.42809534, -1.42799323,
        -1.42792627, -1.4278619 , -1.42780001, -1.42774047, -1.4276832 ,
        -1.42762808, -1.42757502, -1.42752394, -1.42750299, -1.42749653,
        -1.42749132, -1.42748729, -1.42748441, -1.4274826 , -1.42748183,
        -1.42748203, -1.42748317, -1.42748521, -1.42748809, -1.42749178,
        -1.42749624, -1.42751485, -1.42754969, -1.427585  , -1.42762076,
        -1.42765694, -1.42769352, -1.42773047, -1.4277956 , -1.42789828,
        -1.42800197, -1.42810513, -1.42820775, -1.42830983, -1.42841139,
        -1.42851241, -1.42861291, -1.42871287, -1.42881231, -1.42891123,
        -1.42900963, -1.42910751, -1.42920487, -1.42930172, -1.42943034,
        -1.42956259, -1.42969413, -1.42982497, -1.4299551 , -1.43009326,
        -1.43024735, -1.43040057, -1.43055292, -1.4307044 , -1.43085502]),
 'split5_test_score': array([-1.64312555, -1.6422563 , -1.64139114, -1.64054028, -1.63970823,
        -1.6389013 , -1.63816312, -1.63744394, -1.63674337, -1.63606084,
        -1.63539564, -1.63474703, -1.63411429, -1.63349667, -1.63289348,
        -1.63230405, -1.63172777, -1.63116403, -1.63061388, -1.630076  ,
        -1.62954911, -1.62903278, -1.62852656, -1.62803006, -1.62754289,
        -1.6270647 , -1.62659516, -1.62613394, -1.62569538, -1.62528726,
        -1.62488729, -1.62449517, -1.62411061, -1.62373333, -1.6233631 ,
        -1.62299966, -1.62264279, -1.62229228, -1.6219479 , -1.62160947,
        -1.6212768 , -1.62094971, -1.62062803, -1.6203116 , -1.62003353,
        -1.61979199, -1.61957105, -1.6193757 , -1.61919222, -1.61901198,
        -1.61883488, -1.61866082, -1.61848971, -1.61832148, -1.61815604,
        -1.61801513, -1.61790803, -1.61780322, -1.61770062, -1.61760016,
        -1.61750178, -1.61740543, -1.61731104, -1.61721855, -1.61712792,
        -1.61703909, -1.61695201, -1.61686663, -1.61681129, -1.6167768 ,
        -1.61674361, -1.61671169, -1.61668101, -1.61665152, -1.61662319,
        -1.61659599, -1.61656988, -1.61655031, -1.61653605, -1.61652264,
        -1.61651005, -1.61649826, -1.61651822, -1.61655484, -1.61659176,
        -1.61662896, -1.61666642, -1.61670413, -1.61674209, -1.61678027,
        -1.61683026, -1.6168855 , -1.61694075, -1.61700291, -1.61709469,
        -1.61718624, -1.61727756, -1.61736863, -1.61745946, -1.61755005]),
 'split6_test_score': array([-1.43120121, -1.43020632, -1.4293075 , -1.42857716, -1.42804058,
        -1.42753515, -1.42705626, -1.42660047, -1.42616515, -1.42575528,
        -1.42542414, -1.42511808, -1.42488836, -1.42466955, -1.42446088,
        -1.42426167, -1.42407131, -1.42389157, -1.42374376, -1.42360284,
        -1.42348502, -1.42340271, -1.42335533, -1.4233135 , -1.42327694,
        -1.42324537, -1.42321854, -1.42319621, -1.42317816, -1.42316419,
        -1.4231541 , -1.42314772, -1.42314486, -1.42314537, -1.42314909,
        -1.42315588, -1.42316561, -1.42321615, -1.42327677, -1.42333941,
        -1.42340397, -1.42347037, -1.42354686, -1.42363182, -1.42371821,
        -1.42380596, -1.423895  , -1.42398527, -1.42407668, -1.42416919,
        -1.42426274, -1.42435727, -1.42445272, -1.42454905, -1.42464621,
        -1.42474415, -1.4248534 , -1.42497002, -1.42508716, -1.42520478,
        -1.42532286, -1.42544135, -1.42556023, -1.42572837, -1.42595237,
        -1.42617595, -1.42639911, -1.42662183, -1.42684409, -1.42706588,
        -1.42730915, -1.4275589 , -1.42780794, -1.42805626, -1.42830385,
        -1.4285507 , -1.42879681, -1.42904217, -1.42928677, -1.42953061,
        -1.42977368, -1.43001597, -1.43025749, -1.43052219, -1.43078855,
        -1.43109334, -1.43142155, -1.43174828, -1.43207352, -1.4323973 ,
        -1.43271961, -1.43304046, -1.43335987, -1.43367783, -1.43399436,
        -1.43430946, -1.43462315, -1.43493542, -1.43524629, -1.43555577]),
 'split7_test_score': array([-1.58358516, -1.5818867 , -1.58039288, -1.57905692, -1.57784835,
        -1.57674574, -1.57573317, -1.57479834, -1.57393144, -1.5731245 ,
        -1.57237089, -1.57172694, -1.57115959, -1.57072183, -1.5703258 ,
        -1.56995583, -1.56960987, -1.56928607, -1.56898278, -1.56869848,

 if you want you can now fit a ridge regression model with obtained value of alpha , although there is no need, grid search automatically fits the best estimator on the entire data, you can directly use this to make predictions on test_data. But if you want to look at coefficients , its much more convenient to fit the model with direct function

In [99]:
test_pred=grid_search.predict(ld_test)

In [100]:
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

## For looking at coefficients

In [101]:
ridge_model=grid_search.best_estimator_

In [102]:
ridge_model.fit(x_train,y_train)

Ridge(alpha=34.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [103]:
list(zip(x_train1.columns,ridge_model.coef_))

[('Amount.Requested', 0.00016714537449332437),
 ('Debt.To.Income.Ratio', -0.001260654425030649),
 ('Monthly.Income', -2.969851180581745e-05),
 ('Open.CREDIT.Lines', -0.03680978176797282),
 ('Revolving.CREDIT.Balance', -3.0023321502439184e-06),
 ('Inquiries.in.the.Last.6.Months', 0.34237751501355024),
 ('Employment.Length', 0.019418602187516776),
 ('fico', -0.08664485391886666),
 ('Loan.Length_36 months', -2.8299762705866205),
 ('Loan.Purpose_debt_consolidation', -0.3704218576828521),
 ('Loan.Purpose_credit_card', -0.46479454726336766),
 ('Loan.Purpose_other', 0.37785665163622867),
 ('Loan.Purpose_home_improvement', -0.22927008352909098),
 ('Loan.Purpose_major_purchase', -0.011304507141031317),
 ('Loan.Purpose_small_business', 0.08971483773413955),
 ('Loan.Purpose_car', -0.030458295781704864),
 ('Loan.Purpose_wedding', -0.32871620194253187),
 ('Loan.Purpose_medical', -0.09644409135075824),
 ('Loan.Purpose_moving', 0.4576238471903767),
 ('State_CA', -0.09391793411410596),
 ('State_NY', -0.043997671539286555),
 ('State_TX', 0.4272184777026187),
 ('State_FL', 0.02409902959694947),
 ('State_IL', -0.3475483678305887),
 ('State_GA', -0.08405365767738904),
 ('State_PA', -0.28116404371457493),
 ('State_NJ', -0.20973892538236363),
 ('State_VA', -0.002008987822923932),
 ('State_MA', -0.017505518805417595),
 ('State_OH', -0.13254554214913344),
 ('State_MD', 0.011827292660319552),
 ('State_NC', -0.24367324438879429),
 ('State_CO', 0.09233333151064647),
 ('State_WA', -0.08772672017548837),
 ('State_CT', 0.2486658062436641),
 ('State_AZ', 0.2753826811319546),
 ('State_MI', -0.003753451253503508),
 ('State_AL', 0.013304019104652731),
 ('State_MN', -0.04297138105698716),
 ('State_MO', -0.12088507532801802),
 ('State_NV', -0.01297022976866183),
 ('State_OR', 0.04475195215254478),
 ('State_SC', 0.008945589985711249),
 ('State_WI', 0.06539120347076842),
 ('State_KY', 0.06929959383324003),
 ('State_LA', 0.10860903512946181),
 ('State_KS', 0.12492599122671143),
 ('Home.Ownership_MORTGAGE', -0.3039747142080268),
 ('Home.Ownership_RENT', -0.09558753919624591)]

## Lasso Regression

In [104]:
lambdas=np.linspace(1,10,100)
model=Lasso(fit_intercept=True)
params={'alpha':lambdas}

In [105]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [106]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': array([ 1.        ,  1.09090909,  1.18181818,  1.27272727,  1.36363636,
        1.45454545,  1.54545455,  1.636...
        7.81818182,  7.90909091,  8.        ,  8.09090909,  8.18181818,
        8.27272727,  8.36363636,  8.45454545,  8.54545455,  8.63636364,
        8.72727273,  8.81818182,  8.90909091,  9.        ,  9.09090909,
        9.18181818,  9.27272727,  9.36363636,  9.45454545,  9.54545455,
        9.63636364,  9.72727273,  9.81818182,  9.90909091, 10.        ])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [107]:
grid_search.best_estimator_

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

you can see that, the best value of alpha comes at the edge of the range that we tried , we should expand the trial range on that side and run this again

In [108]:
lambdas=np.linspace(.001,2,100)
params={'alpha':lambdas}

In [109]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': array([1.00000000e-03, 2.11919192e-02, 4.13838384e-02, 6.15757576e-02,
       8.17676768e-02...
       1.61635354e+00, 1.63654545e+00, 1.65673737e+00, 1.67692929e+00,
       1.69712121e+00, 1.71731313e+00, 1.73750505e+00, 1.75769697e+00,
       1.77788889e+00, 1.79808081e+00, 1.81827273e+00, 1.83846465e+00,
       1.85865657e+00, 1.87884848e+00, 1.89904040e+00, 1.91923232e+00,
       1.93942424e+00, 1.95961616e+00, 1.97980808e+00, 2.00000000e+00])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [110]:
grid_search.best_estimator_

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [111]:
lasso_model=grid_search.best_estimator_

In [112]:
lasso_model.fit(x_train,y_train)

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [113]:
list(zip(x_train.columns,lasso_model.coef_))

[('Amount.Requested', 0.00016025576388069374),
 ('Debt.To.Income.Ratio', -0.0009940455335086431),
 ('Monthly.Income', -2.7161150694601474e-05),
 ('Open.CREDIT.Lines', -0.03776066942268258),
 ('Revolving.CREDIT.Balance', -3.2291582902347866e-06),
 ('Inquiries.in.the.Last.6.Months', 0.32734647665538585),
 ('Employment.Length', 0.011883001638602755),
 ('fico', -0.08647817945138424),
 ('Loan.Length_36 months', -3.0098932744846625),
 ('Loan.Purpose_debt_consolidation', -0.1780182230425123),
 ('Loan.Purpose_credit_card', -0.22053269213383622),
 ('Loan.Purpose_other', 0.3196217853383159),
 ('Loan.Purpose_home_improvement', -0.0),
 ('Loan.Purpose_major_purchase', 0.0),
 ('Loan.Purpose_small_business', 0.0),
 ('Loan.Purpose_car', 0.0),
 ('Loan.Purpose_wedding', -0.0),
 ('Loan.Purpose_medical', -0.0),
 ('Loan.Purpose_moving', 0.0),
 ('State_CA', -0.0),
 ('State_NY', 0.0),
 ('State_TX', 0.2592516325019152),
 ('State_FL', 0.0),
 ('State_IL', -0.0),
 ('State_GA', -0.0),
 ('State_PA', -0.0),
 ('State_NJ', -0.0),
 ('State_VA', 0.0),
 ('State_MA', 0.0),
 ('State_OH', -0.0),
 ('State_MD', 0.0),
 ('State_NC', -0.0),
 ('State_CO', 0.0),
 ('State_WA', -0.0),
 ('State_CT', 0.0),
 ('State_AZ', 0.0),
 ('State_MI', 0.0),
 ('State_AL', 0.0),
 ('State_MN', -0.0),
 ('State_MO', -0.0),
 ('State_NV', 0.0),
 ('State_OR', 0.0),
 ('State_SC', 0.0),
 ('State_WI', 0.0),
 ('State_KY', 0.0),
 ('State_LA', 0.0),
 ('State_KS', 0.0),
 ('Home.Ownership_MORTGAGE', -0.15598777750113385),
 ('Home.Ownership_RENT', 0.0)]