In [1]:
import pandas as pd 
import numpy as np

In [2]:
df= pd.read_csv(r'C:\Users\SRK\Desktop\siva_python\Regression\day4\inclass\advertising.csv')
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
df.isna().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [5]:
df.shape

(200, 4)